<!--Tabla y pastel de nivel de riesgo Inherente empieza-->
<div class="row" ngClass="infoSeccion">
	<div class="col-auto">
		<table class="table table-bordered" style="text-align: center;">
			<thead>
				<tr>
					<th scope="col" colspan="6" class="anaranjado" style="text-align: left;">Riesgo Inherente</th>
				</tr>
				<tr>
					<th>
						<div class="form-floating mb-3">
							<select class="form-select" id="seleccionProceso" name="macroproceso"
								[(ngModel)]="macroproceso" aria-label="Default select example"
								onchange="location = this.value;">
								<option *ngFor="let macro of macroproceso" [value]="'estadisticas/' + macro.Nombre">
									{{macro.Nombre}}</option>
							</select>
							<label for="floatingSelect">Seleccione el macroproceso al que guste ver su gráfico
								adjunto
							</label>
						</div>
					</th>
					<th scope="col" style="text-align: center; vertical-align: middle;">
						<a href="/estadisticasCobertura/Concepto Al Producto"style="color: black;">
						<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
							class="bi bi-arrow-right-short" viewBox="0 0 16 16">
							<path fill-rule="evenodd"
								d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
						</svg>
					</a>
				</tr>
				<th class="naranja">Nivel de Riesgo</th>
				<th class="naranja">Frecuencia</th>
			</thead>
			<tbody>
				<tr>
					<th scope="row">MA</th>
					<td>{{riesgosInherentesMuyAltos}}</td>
				<tr>
					<th scope="row">A</th>
					<td>{{riesgosInherentesAltos}}</td>
				</tr>
				<tr>
					<th scope="row">M</th>
					<td>{{riesgosInherentesMedios}}</td>
				</tr>
				<tr>
					<th scope="row">B</th>
					<td>{{riesgosInherentesBajos}}</td>
				</tr>
				<tr>
					<th scope="row">MB</th>
					<td>{{riesgosInherentesMuyBajos}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-auto" id="container"></div>
</div>
