.formulado{
	background-color: rgb(167, 167, 181, 0.5);
}
#formulado:hover{
	background-color: rgb(86, 86, 90);
	color: white;
}
td.columLarga {
	display: list-item;
	width: 22vw;
	overflow: hidden;
	border: none;
	padding-top: 20%;
	padding-bottom: 15%;
  }
#sortAsc{

}
#sortDesc{
}
