<!--Iconos de paloma verde y triangulo warning-->
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
	<symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
		<path
			d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
	</symbol>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
	<symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
		<path
			d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
	</symbol>
</svg>
<!-- Modal para llenado de riesgo -->
<div class="modal fade" id="modalRiesgo" tabindex="-1" aria-labelledby="modalRiesgoLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title fs-5 fw-bold" id="modalRiesgoLabel">Llene los campos para añadir un Riesgo</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<app-riesgo [riesgo]="riesgo" *ngIf="ActivarAltaRiesgo"></app-riesgo>
			</div>
		</div>
	</div>
</div>
<!--Inclución de header y sidebar-->
<div id="infoSeccion">

	<table class="table table-bordered" id="alineada">
		<thead id="alineada">
			<tr>
			<tr>
				<th scope="col" colspan="3" class="gris">Proceso</th>
				<th scope="col" colspan="13" style="color: white; background-color: rgb(222, 192, 0);">RIESGO INHERENTE
				</th>
				<th scope="col" colspan="4" class="azul-marino">CONTROL</th>
				<th scope="col" colspan="12" class="verde">EVALUACIÓN DE CONTROLES</th>
				<th scope="col" colspan="10" class="azul-marino">CONTROL</th>
				<th scope="col" colspan="2" class="anaranjado">RIESGO RESIDUAL</th>
				<th scope="col" class="gris">COMENTARIOS</th>
				<th scope="col" class="bg-light" colspan="2" rowspan="4">Opciones</th>
			</tr>
			<tr>
				<th scope="col" colspan="3"></th>
				<th scope="col">
					<div class="d-flex flex-row" style="width: 9.2em;">
						<div class="col-2">
							<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
								class="bi bi-search" viewBox="0 0 15 15">
								<path
									d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
							</svg>
						</div>
						<div class="col-10">
							<input [(ngModel)]="filtroPorIdRiesgo" class="form-control" (keyup)="FilterFn()"
								placeholder="Buscar por ID">
						</div>
					</div>
				</th>
				<th scope="col">
					<div class="d-flex flex-row">
						<div class="col-1">
							<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
								class="bi bi-search" viewBox="0 0 15 15">
								<path
									d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
							</svg>
						</div>
						<div class="col">
							<input [(ngModel)]="filtroPorDescripcionRiesgo" class="form-control" (keyup)="FilterFn()"
								placeholder="Busqueda filtrada">
						</div>
					</div>
				</th>
				<th>
					<div class="d-flex flex-row">
					</div>
				</th>
				<th scope="col" colspan="2"></th>
				<th scope="col" class="gris">Formulado</th>
				<th scope="col" colspan="4"></th>
				<th scope="col">
					<div class="d-flex flex-row">
						<div class="col-1">
							<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
								class="bi bi-search" viewBox="0 0 15 15">
								<path
									d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
							</svg>
						</div>
						<div class="col-7">
							<input [(ngModel)]="filtroPorProbabilidadRiesgo" class="form-control" (keyup)="FilterFn()"
								placeholder="Busqueda filtrada">
						</div>
						<div class="col-4">
							<button type="button" class="btn btn-primary" (click)="sortResult('probabilidad', true)">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
									class="bi bi-arrow-up" viewBox="0 0 16 16">
									<path fill-rule="evenodd"
										d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z" />
								</svg>
							</button>
							<button type="button" class="btn btn-danger" (click)="sortResult('probabilidad', false)">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
									class="bi bi-arrow-down" viewBox="0 0 16 16">
									<path fill-rule="evenodd"
										d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z" />
								</svg>
							</button>
						</div>
					</div>
				</th>
				<th scope="col"></th>
				<th scope="col" class="gris">Formulado</th>
				<th scope="col">
					<div class="d-flex flex-row">
						<div class="col-1">
							<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
								class="bi bi-search" viewBox="0 0 15 15">
								<path
									d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
							</svg>
						</div>
						<div class="col">
							<input [(ngModel)]="filtroPorIdControl" class="form-control" (keyup)="FilterFn()"
								placeholder="Busqueda filtrada">
						</div>
					</div>
				</th>
				<th scope="col"></th>
				<th scope="col">
					<div class="d-flex flex-row columLarga">
						<div class="col-1">
							<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
								class="bi bi-search" viewBox="0 0 15 15">
								<path
									d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
							</svg>
						</div>
						<div class="col-11">
							<input [(ngModel)]="filtroPorDescripcionControl" class="form-control" (keyup)="FilterFn()"
								placeholder="Busqueda filtrada">
						</div>
					</div>
				</th>
				<th scope="col" colspan="13"></th>
				<th scope="col" class="gris">Formulado</th>
				<th scope="col" colspan="2"></th>
				<th scope="col" class="gris">Formulado</th>
				<th scope="col" colspan="2"></th>
				<th scope="col" class="gris">Formulado</th>
				<th scope="col"></th>
				<th scope="col" colspan="4" class="gris">Formulado</th>
				<th scope="col" colspan="2"></th>
			</tr>
			<tr>
				<th scope="col" class="morado" rowspan="2">Macroproceso</th>
				<th scope="col" class="morado" rowspan="2">Proceso</th>
				<th scope="col" class="morado" rowspan="2">Subproceso</th>
				<th scope="col" class="naranja" rowspan="2">ID Riesgo
				</th>
				<th scope="col" class="verde" rowspan="2">Descripción del Riesgo</th>
				<th scope="col" class="verde" rowspan="2">Causa</th>
				<th scope="col" class="verde" rowspan="2">Consecuencia</th>
				<th scope="col" class="naranja" rowspan="2">Tipo de Evento</th>
				<th scope="col" class="naranja" rowspan="2">Tipo de Riesgo</th>
				<th scope="col" class="naranja" colspan="3">Importancia relativa</th>
				<th scope="col" class="naranja" rowspan="2">Riesgo de Fraude</th>
				<th scope="col" class="naranja" rowspan="2">Probabilidad</th>
				<th scope="col" class="naranja" rowspan="2">Impacto</th>
				<th scope="col" class="naranja" rowspan="2">Nivel Riesgo Inherente</th>
				<th scope="col" class="azul-marino" rowspan="2">ID del Control</th>
				<th scope="col" class="azul-marino" rowspan="2">General/Proceso</th>
				<th scope="col" class="azul-marino" rowspan="2">Descripción del Control</th>
				<th scope="col" class="azul-marino" rowspan="2">Evidencia del Control</th>
				<th scope="col" class="verde" rowspan="2">1. Segregación de Funciones</th>
				<th scope="col" class="verde" rowspan="2">2. Documentación (Política, procedimiento, manual,
					etc.)</th>
				<th scope="col" class="azul-marino" rowspan="2">Tipo de Control</th>
				<th scope="col" class="verde" rowspan="2">3. Naturaleza Adecuada</th>
				<th scope="col" class="azul-marino" rowspan="2">Naturaleza de Control</th>
				<th scope="col" class="verde" rowspan="2">4. Tipo Adecuado</th>
				<th scope="col" class="azul-marino" rowspan="2">Frecuencia de Control</th>
				<th scope="col" class="verde" rowspan="2">5. Frecuencia Adecuada</th>
				<th scope="col" class="azul-marino" rowspan="2">Responsable del Control</th>
				<th scope="col" class="verde" rowspan="2">6. Responsabilidad del Control</th>
				<th scope="col" class="verde" rowspan="2">7. Generación de evidencia</th>
				<th scope="col" class="bg-success" style="color: white;" rowspan="2">Diseño del Control</th>
				<th scope="col" class="azul-marino" rowspan="2">Control clave</th>
				<th scope="col" class="azul-marino" rowspan="2">Control diseñado para mitigar fraude</th>
				<th scope="col" class="azul-marino" rowspan="2">Estrategia de monitoreo</th>
				<th scope="col" class="azul-marino" rowspan="2">Diseño de prueba</th>
				<th scope="col" class="azul-marino" rowspan="2">Evaluación de funcionalidad del control</th>
				<th scope="col" class="azul-marino" rowspan="2">Calificación del Control (0% a 99%)</th>
				<th scope="col" class="azul-marino" rowspan="2">Cobertura individual por Control</th>
				<th scope="col" class="azul-marino" rowspan="2">Cobertura Ponderada por Control (Calificación x
					Cobertura)</th>
				<th scope="col" class="azul-marino" rowspan="2">Coberture Total de los Controles</th>
				<th scope="col" class="azul-marino" rowspan="2">Nivel de Cobertura Total de los Controles</th>
				<th scope="col" class="naranja" rowspan="2">Gravedad Riesgo Residual</th>
				<th scope="col" class="naranja">Tratamiento del Riesgo</th>
				<th scope="col" class="morado" rowspan="2">Observaciones</th>
			</tr>
			<tr>
				<td class="naranja">IF</td>
				<td class="naranja">IC</td>
				<td class="naranja">IO</td>
				<th class="naranja">Estrategia</th>
			</tr>
		</thead>
		<tbody class="table-group-divider">
			<!--Contenedor sobre todas las causas y controles que coincidan con un mismo ID de riesgo asociado-->
			<ng-container *ngFor="let riesgoItem of RiesgoList; let i = index; let tamanoListaRiesgo = count;">
				<ng-container *ngFor="let causaItem of CausaList; let j = index; let tamanoListaCausa = count">
					<ng-container
						*ngFor="let controlItem of ControlList; let k = index; let tamanoListaControl = count">
						<!-- && causaItem.idRiesgoAsociado === riesgoItem.idRiesgo;-->
						<tr *ngIf="(((causaItem.idRiesgoAsociado === riesgoItem.idRiesgo) || (causaItem.idRiesgoAsociado2 === riesgoItem.idRiesgo)
						|| (causaItem.idRiesgoAsociado3 === riesgoItem.idRiesgo) ||  (causaItem.idRiesgoAsociado4 === riesgoItem.idRiesgo)
						|| (causaItem.idRiesgoAsociado5 === riesgoItem.idRiesgo) || (causaItem.idRiesgoAsociado6 === riesgoItem.idRiesgo)
						|| (causaItem.idRiesgoAsociado7 === riesgoItem.idRiesgo) || (causaItem.idRiesgoAsociado8 === riesgoItem.idRiesgo)
						|| (causaItem.idRiesgoAsociado9 === riesgoItem.idRiesgo) || (causaItem.idRiesgoAsociado10 === riesgoItem.idRiesgo)
						) && ((controlItem.idRiesgoAsociado === riesgoItem.idRiesgo) || (controlItem.idRiesgoAsociado2 === riesgoItem.idRiesgo)
						|| (controlItem.idRiesgoAsociado3 === riesgoItem.idRiesgo) ||  (controlItem.idRiesgoAsociado4 === riesgoItem.idRiesgo)
						|| (controlItem.idRiesgoAsociado5 === riesgoItem.idRiesgo) || (controlItem.idRiesgoAsociado6 === riesgoItem.idRiesgo)
						|| (controlItem.idRiesgoAsociado7 === riesgoItem.idRiesgo) || (controlItem.idRiesgoAsociado8 === riesgoItem.idRiesgo)
						|| (controlItem.idRiesgoAsociado9 === riesgoItem.idRiesgo) || (controlItem.idRiesgoAsociado10 === riesgoItem.idRiesgo)
						) && (((causaItem.idControlAsociado === controlItem.idControl) || (causaItem.idControlAsociado2 === controlItem.idControl)
						|| (causaItem.idControlAsociado3 === controlItem.idControl) ||  (causaItem.idControlAsociado4 === controlItem.idControl)
						|| (causaItem.idControlAsociado5 === controlItem.idControl) || (causaItem.idControlAsociado6 === controlItem.idControl)
						|| (causaItem.idControlAsociado7 === controlItem.idControl) || (causaItem.idControlAsociado8 === controlItem.idControl)
						|| (causaItem.idControlAsociado9 === controlItem.idControl) || (causaItem.idControlAsociado10 === controlItem.idControl))));
						else listaRiesgosSinControlConCausa;">
							<!--Modal para la edicion de riesgo -->
							<div class="modal fade" [attr.id]="'editar' + riesgoItem.idRiesgo" tabindex="-1"
								aria-labelledby="modalRiesgoLabel" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title fs-5 fw-bold">Llene los campos para
												editar el control {{riesgoItem.idRiesgo}}</h5>
											<button type="button" class="btn-close" data-bs-dismiss="modal"
												aria-label="Close"></button>
										</div>
										<div class="modal-body">
											<app-riesgo [riesgo]="riesgo" *ngIf="ActivarEdicionRiesgo"></app-riesgo>
										</div>
									</div>
								</div>
							</div>
							<!--	Modal para verificar si esta seguro de eliminar un riesgo-->
							<div class="modal fade" [attr.id]="'eliminar' + riesgoItem.idRiesgo">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title">Advertencia</h5>
											<button type="button" class="btn-close" data-bs-dismiss="modal"
												aria-label="Close"></button>
										</div>
										<div class="modal-body">
											<div class="col-12 alert alert-danger  align-items-center" role="alert">
												<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img"
													aria-label="Danger:" style="float: left;">
													<use xlink:href="#exclamation-triangle-fill" />
												</svg>
												<div>
													¿Estas seguro de querer eliminar el riesgo {{riesgoItem.idRiesgo}}?
												</div>
											</div>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-outline-primary"
												data-bs-dismiss="modal">Cerrar</button>
											<button type="button" class="btn btn-danger"
												(click)="eliminarRiesgo(riesgoItem)">Eliminar
												<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
													fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
													<path
														d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
												</svg>
											</button>
										</div>
									</div>
								</div>
							</div>
							<td [attr.contenteditable]="contenteditable">{{riesgoItem.macroProceso}}</td>
							<td [attr.contenteditable]="contenteditable">{{riesgoItem.proceso}}</td>
							<td [attr.contenteditable]="contenteditable">{{riesgoItem.subProceso}}</td>
							<td [attr.contenteditable]="contenteditable">{{riesgoItem.idRiesgo}}</td>
							<td [attr.contenteditable]="contenteditable">{{riesgoItem.descripcion}}
							</td>
							<td [attr.contenteditable]="contenteditable" class>{{causaItem.descripcion}}</td>
							<td [attr.contenteditable]="contenteditable">{{riesgoItem.consecuencia}}
							</td>
							<td [attr.contenteditable]="contenteditable">{{riesgoItem.tipoEvento}}</td>
							<td id="formulado" [className]="esFomulado ? 'formulado' : 'inactivo'">
								{{riesgoItem.tipoRiesgo}}
							</td>
							<td [attr.contenteditable]="contenteditable">{{riesgoItem.iff}}</td>
							<td [attr.contenteditable]="contenteditable">{{riesgoItem.ic}}</td>
							<td [attr.contenteditable]="contenteditable">{{riesgoItem.ios}}</td>
							<td [attr.contenteditable]="contenteditable">{{riesgoItem.riesgoFraude}}</td>
							<td [attr.contenteditable]="contenteditable"
								[ngClass]="{'rojo' : riesgoItem.probabilidad === 'Muy Alta', 'anaranjado':  riesgoItem.probabilidad === 'Alta',
							'medio' : riesgoItem.probabilidad === 'Media', 'bajo' : riesgoItem.probabilidad === 'Baja', 'verde' : riesgoItem.probabilidad === 'Muy Baja' }">
								{{riesgoItem.probabilidad}}</td>
							<td [attr.contenteditable]="contenteditable" [ngClass]="{'anaranjado':  riesgoItem.impacto === 'Crítico',
							'medio' : riesgoItem.impacto === 'Importante'}">{{riesgoItem.impacto}}</td>
							<td id="formulado" [className]="esFomulado ? 'formulado' : 'inactivo'" >A</td>
							<td [attr.contenteditable]="contenteditable">{{controlItem.idControl}}</td>
							<td [attr.contenteditable]="contenteditable">{{controlItem.general}}</td>
							<td [attr.contenteditable]="contenteditable">{{controlItem.descripcion}}
							</td>
							<td [attr.contenteditable]="contenteditable">{{controlItem.evidencia}}</td>
							<td [attr.contenteditable]="contenteditable">{{controlItem.segregacion}}</td>
							<td [attr.contenteditable]="contenteditable">Documentación</td>
							<td [attr.contenteditable]="contenteditable">{{controlItem.tipoControl}}</td>
							<td [attr.contenteditable]="contenteditable">{{controlItem.naturalezaAdecuada}}</td>
							<td [attr.contenteditable]="contenteditable">{{controlItem.naturalezaControl}}</td>
							<td [attr.contenteditable]="contenteditable">{{controlItem.tipoAdecuado}}</td>
							<td [attr.contenteditable]="contenteditable">{{controlItem.frecuenciaControl}}</td>
							<td [attr.contenteditable]="contenteditable">{{controlItem.frecuenciaAdecuada}}</td>
							<td [attr.contenteditable]="contenteditable">{{controlItem.responsable}}</td>
							<td [attr.contenteditable]="contenteditable">{{controlItem.responsabilidadControl}}</td>
							<td [attr.contenteditable]="contenteditable">{{controlItem.generacionEvidencia}}</td>
							<td id="formulado" [className]="esFomulado ? 'formulado' : 'inactivo'">Formulado</td>
							<td [attr.contenteditable]="contenteditable">{{controlItem.controlClave}}</td>
							<td [attr.contenteditable]="contenteditable">{{controlItem.controlFraude}}</td>
							<td id="formulado" [className]="esFomulado ? 'formulado' : 'inactivo'">
								{{controlItem.estrategia}}</td>
							<td [attr.contenteditable]="contenteditable">{{controlItem.descripcionTratamiento}}</td>
							<td [attr.contenteditable]="contenteditable">{{controlItem.causasAdjuntas}}</td>
							<td id="formulado" [className]="esFomulado ? 'formulado' : 'inactivo'">Formulado%</td>
							<td [attr.contenteditable]="contenteditable">{{controlItem.cobertura}}</td>
							<td id="formulado" [className]="esFomulado ? 'formulado' : 'inactivo'">Formulado%</td>
							<td id="formulado" [className]="esFomulado ? 'formulado' : 'inactivo'">Formulado%</td>
							<td id="formulado" [className]="esFomulado ? 'formulado' : 'inactivo'">Formulado</td>
							<td id="formulado" [className]="esFomulado ? 'formulado' : 'inactivo'">Formulado</td>
							<td [attr.contenteditable]="contenteditable">{{controlItem.tipoAdecuado}}</td>
							<td [attr.contenteditable]="contenteditable">
								{{controlItem.observaciones}}</td>
							<td scope="col">
								<!--(click)="editarRiesgo()" para lo gray y set editable-->
								<button type="button" class="btn btn-success" (click)="editClick(riesgoItem)"
									*ngIf="ocultarBoton" data-bs-toggle="modal"
									[attr.data-bs-target]="'#editar' + riesgoItem.idRiesgo" data-backdrop="static"
									data-keyboard="false">Editar Riesgo
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
										class="bi bi-pencil-square" viewBox="0 0 16 16">
										<path
											d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
										<path fill-rule="evenodd"
											d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
									</svg>
								</button>
							</td>
							<td scope="col">
								<button type="button" class="btn btn-danger" data-bs-toggle="modal"
									[attr.data-bs-target]="'#eliminar' + riesgoItem.idRiesgo">Eliminar Riesgo
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
										class="bi bi-trash3" viewBox="0 0 16 16">
										<path
											d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
									</svg>
								</button>
							</td>
						</tr>
						<ng-template #listaRiesgosSinControlConCausa>
							<!--Para evitar duplicados, verificar si estamos en la última posición de la lista de controles-->
							<tr *ngIf="((causaItem.idRiesgoAsociado === riesgoItem.idRiesgo
						|| (causaItem.idRiesgoAsociado2 === riesgoItem.idRiesgo)
						|| (causaItem.idRiesgoAsociado3 === riesgoItem.idRiesgo) ||  (causaItem.idRiesgoAsociado4 === riesgoItem.idRiesgo)
						|| (causaItem.idRiesgoAsociado5 === riesgoItem.idRiesgo) || (causaItem.idRiesgoAsociado6 === riesgoItem.idRiesgo)
						|| (causaItem.idRiesgoAsociado7 === riesgoItem.idRiesgo) || (causaItem.idRiesgoAsociado8 === riesgoItem.idRiesgo)
						|| (causaItem.idRiesgoAsociado9 === riesgoItem.idRiesgo) || (causaItem.idRiesgoAsociado10 === riesgoItem.idRiesgo)
						)) && k === tamanoListaControl -1;">
								<!--)) && impar && k === tamanoListaControl - 1"  && (i > 1)  && ((k / 2) === 1)>-->
								<td [attr.contenteditable]="contenteditable">{{riesgoItem.macroProceso}}</td>
								<td [attr.contenteditable]="contenteditable">{{riesgoItem.proceso}}</td>
								<td [attr.contenteditable]="contenteditable">{{riesgoItem.subProceso}}</td>
								<td [attr.contenteditable]="contenteditable">{{riesgoItem.idRiesgo}}</td>
								<td [attr.contenteditable]="contenteditable">
									{{riesgoItem.descripcion}}</td>
								<td [attr.contenteditable]="contenteditable">{{causaItem.descripcion}}</td>
								<td [attr.contenteditable]="contenteditable">{{riesgoItem.consecuencia}}</td>
								<td [attr.contenteditable]="contenteditable">{{riesgoItem.tipoEvento}}</td>
								<td id="formulado" [className]="esFomulado ? 'formulado' : 'inactivo'">
									{{riesgoItem.tipoRiesgo}}
								</td>
								<td [attr.contenteditable]="contenteditable">{{riesgoItem.iff}}</td>
								<td [attr.contenteditable]="contenteditable">{{riesgoItem.ic}}</td>
								<td [attr.contenteditable]="contenteditable">{{riesgoItem.ios}}</td>
								<td [attr.contenteditable]="contenteditable">{{riesgoItem.riesgoFraude}}</td>
								<td [attr.contenteditable]="contenteditable"
									[ngClass]="{'rojo' : riesgoItem.probabilidad === 'Muy Alta', 'anaranjado':  riesgoItem.probabilidad === 'Alta',
								'medio' : riesgoItem.probabilidad === 'Media', 'bajo' : riesgoItem.probabilidad === 'Baja', 'verde' : riesgoItem.probabilidad === 'Muy Baja' }">
									{{riesgoItem.probabilidad}}</td>
								<td [attr.contenteditable]="contenteditable" [ngClass]="{'anaranjado':  riesgoItem.impacto === 'Crítico',
								'medio' : riesgoItem.impacto === 'Importante'}">{{riesgoItem.impacto}}</td>
								<td id="formulado" [className]="esFomulado ? 'formulado' : 'inactivo'">A</td>
								<td colspan="29" class="sinControl">
										ListRiesgo: {{tamanoListaRiesgo}}
									ListCausa: {{tamanoListaCausa}} ListControl: {{tamanoListaControl}} I: {{i}},
									J:{{j}} K: {{k}}No existe un control asociado al reisgo
									<strong>{{riesgoItem.idRiesgo}}</strong> y a la causa:
									<strong>"{{causaItem.descripcion}}"</strong>
								</td>
								<td scope="col">
									<!--(click)="editarRiesgo()" para lo gray y set editable-->
									<button type="button" class="btn btn-success" (click)="editClick(riesgoItem)"
										*ngIf="ocultarBoton" data-bs-toggle="modal"
										[attr.data-bs-target]="'#editar' + riesgoItem.idRiesgo" data-backdrop="static"
										data-keyboard="false">Editar Riesgo
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
											fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
											<path
												d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
											<path fill-rule="evenodd"
												d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
										</svg>
									</button>
								</td>
								<td scope="col">
									<button type="button" class="btn btn-danger" data-bs-toggle="modal"
										[attr.data-bs-target]="'#eliminar' + riesgoItem.idRiesgo">Eliminar Riesgo
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
											fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
											<path
												d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
										</svg>
									</button>
								</td>
							</tr>
						</ng-template>
					</ng-container>
				</ng-container>
			</ng-container>

			<!--
			<ng-container *ngFor="let controlItem of ControlList">
				<ng-container *ngFor="let riesgoItem of RiesgoList">
					 || riesgoItem.idRiesgo === causaItem.IdRiesgoAsociado" && (controlItem.cobertura === 0)
					<tr *ngIf="riesgoItem.idRiesgo === controlItem.idRiesgoAsociado">
						 Modal para la edicion de riesgo 
						<div class="modal fade" [attr.id]="'editar' + controlItem.IdRiesgoAsociado" tabindex="-1"
							aria-labelledby="modalRiesgoLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title fs-5 fw-bold" id="modalRiesgoLabel">Llene los campos para
											editar el riesgo {{riesgoItem.idRiesgo}} </h5>
										<button type="button" class="btn-close" data-bs-dismiss="modal"
											aria-label="Close"></button>
									</div>
									<div class="modal-body">
										<app-riesgo [riesgo]="riesgo" *ngIf="ActivarEdicionRiesgo"></app-riesgo>
									</div>
								</div>
							</div>
						</div>
						Modal para verificar si esta seguro de eliminar un riesgo
						<div class="modal fade" [attr.id]="'eliminar' + controlItem.IdRiesgoAsociado">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title">Advertencia</h5>
										<button type="button" class="btn-close" data-bs-dismiss="modal"
											aria-label="Close"></button>
									</div>
									<div class="modal-body">
										<div class="col-12 alert alert-danger  align-items-center" role="alert">
											<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img"
												aria-label="Danger:" style="float: left;">
												<use xlink:href="#exclamation-triangle-fill" />
											</svg>
											<div>
												¿Estas seguro de querer eliminar el riesgo {{riesgoItem.idRiesgo}}?
											</div>
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-outline-primary"
											data-bs-dismiss="modal">Cerrar</button>
										<button type="button" class="btn btn-danger"
											(click)="eliminarRiesgo(RiesgoList)">Eliminar
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
												fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
												<path
													d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
											</svg>
										</button>
									</div>
								</div>
							</div>
						</div>
						<td [attr.contenteditable]="contenteditable">{{riesgoItem.macroProceso}}</td>
						<td [attr.contenteditable]="contenteditable">{{riesgoItem.proceso}}</td>
						<td [attr.contenteditable]="contenteditable">{{riesgoItem.subProceso}}</td>
						<td [attr.contenteditable]="contenteditable">{{riesgoItem.idRiesgo}}</td>
						<td [attr.contenteditable]="contenteditable">{{riesgoItem.descripcion}}</td>
						<td [attr.contenteditable]="contenteditable">Riesgo y Control sin causa asociada</td>
						<td [attr.contenteditable]="contenteditable">{{riesgoItem.consecuencia}}</td>
						<td [attr.contenteditable]="contenteditable">{{riesgoItem.tipoEvento}}</td>
						<td id="formulado" [className]="esFomulado ? 'formulado' : 'inactivo'">{{riesgoItem.tipoRiesgo}}
						</td>
						<td [attr.contenteditable]="contenteditable">{{riesgoItem.iff}}</td>
						<td [attr.contenteditable]="contenteditable">{{riesgoItem.ic}}</td>
						<td [attr.contenteditable]="contenteditable">{{riesgoItem.ios}}</td>
						<td [attr.contenteditable]="contenteditable">{{riesgoItem.riesgoFraude}}</td>
						<td [attr.contenteditable]="contenteditable">{{riesgoItem.probabilidad}}</td>
						<td [attr.contenteditable]="contenteditable">{{riesgoItem.impacto}}</td>
						<td id="formulado" [className]="esFomulado ? 'formulado' : 'inactivo'">A</td>
						<td [attr.contenteditable]="contenteditable">{{controlItem.idControl}}</td>
						<td [attr.contenteditable]="contenteditable">{{controlItem.proceso}}</td>
						<td [attr.contenteditable]="contenteditable">{{controlItem.descripcion}}</td>
						<td [attr.contenteditable]="contenteditable">{{controlItem.evidencia}}</td>
						<td [attr.contenteditable]="contenteditable">{{controlItem.segregacion}}</td>
						<td [attr.contenteditable]="contenteditable">Documentación</td>
						<td [attr.contenteditable]="contenteditable">{{controlItem.tipoControl}}</td>
						<td [attr.contenteditable]="contenteditable">{{controlItem.naturalezaAdecuada}}</td>
						<td [attr.contenteditable]="contenteditable">{{controlItem.naturalezaControl}}</td>
						<td [attr.contenteditable]="contenteditable">{{controlItem.tipoAdecuado}}</td>
						<td [attr.contenteditable]="contenteditable">{{controlItem.frecuenciaControl}}</td>
						<td [attr.contenteditable]="contenteditable">{{controlItem.frecuenciaAdecuada}}</td>
						<td [attr.contenteditable]="contenteditable">{{controlItem.responsable}}</td>
						<td [attr.contenteditable]="contenteditable">{{controlItem.responsabilidadControl}}</td>
						<td [attr.contenteditable]="contenteditable">{{controlItem.generacionEvidencia}}</td>
						<td id="formulado" [className]="esFomulado ? 'formulado' : 'inactivo'">Formulado</td>
						<td [attr.contenteditable]="contenteditable">{{controlItem.controlClave}}</td>
						<td [attr.contenteditable]="contenteditable">{{controlItem.controlFraude}}</td>
						<td id="formulado" [className]="esFomulado ? 'formulado' : 'inactivo'">
							{{controlItem.estrategia}}</td>
						<td [attr.contenteditable]="contenteditable">{{controlItem.descripcionTratamiento}}</td>
						<td [attr.contenteditable]="contenteditable">{{controlItem.causasAdjuntas}}</td>
						<td id="formulado" [className]="esFomulado ? 'formulado' : 'inactivo'">Formulado%</td>
						<td [attr.contenteditable]="contenteditable">{{controlItem.cobertura}}</td>
						<td id="formulado" [className]="esFomulado ? 'formulado' : 'inactivo'">Formulado%</td>
						<td id="formulado" [className]="esFomulado ? 'formulado' : 'inactivo'">Formulado%</td>
						<td id="formulado" [className]="esFomulado ? 'formulado' : 'inactivo'">Formulado</td>
						<td id="formulado" [className]="esFomulado ? 'formulado' : 'inactivo'">Formulado</td>
						<td [attr.contenteditable]="contenteditable">{{controlItem.tipoAdecuado}}</td>
						<td [attr.contenteditable]="contenteditable">{{controlItem.observaciones}}</td>
						<td scope="col">
							(click)="editarRiesgo()" para lo gray y set editable
							<button type="button" class="btn btn-success" (click)="editClick(riesgoItem)"
								*ngIf="ocultarBoton" data-bs-toggle="modal"
								[attr.data-bs-target]="'#editar' + controlItem.IdRiesgoAsociado" data-backdrop="static"
								data-keyboard="false">Editar Riesgo
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
									class="bi bi-pencil-square" viewBox="0 0 16 16">
									<path
										d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
									<path fill-rule="evenodd"
										d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
								</svg>
							</button>
						</td>
						<td scope="col">
							<button type="button" class="btn btn-danger" data-bs-toggle="modal"
								[attr.data-bs-target]="'#eliminar' + controlItem.IdRiesgoAsociado">Eliminar Riesgo
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
									class="bi bi-trash3" viewBox="0 0 16 16">
									<path
										d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
								</svg>
							</button>
						</td>
					</tr>
				</ng-container>
			</ng-container>
			Contenedor para causa asociadas a un riesgo
			<ng-container *ngFor="let riesgoItem of RiesgoList">
				<ng-container *ngFor="let causaItem of CausaList">
					<tr *ngIf="riesgoItem.idRiesgo === causaItem.IdRiesgoAsociado">
						<Modal para la edicion de riesgo 
						<div class="modal fade" [attr.id]="'editar' + causaItem.IdRiesgoAsociado" tabindex="-1"
							aria-labelledby="modalRiesgoLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title fs-5 fw-bold" id="modalRiesgoLabel">Llene los campos para
											editar el riesgo {{riesgoItem.idRiesgo}} </h5>
										<button type="button" class="btn-close" data-bs-dismiss="modal"
											aria-label="Close"></button>
									</div>
									<div class="modal-body">
										<app-riesgo [riesgo]="riesgo" *ngIf="ActivarEdicionRiesgo"></app-riesgo>
									</div>
								</div>
							</div>
						</div>
						Modal para verificar si esta seguro de eliminar un riesgo
						<div class="modal fade" [attr.id]="'eliminar' + causaItem.IdRiesgoAsociado">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title">Advertencia</h5>
										<button type="button" class="btn-close" data-bs-dismiss="modal"
											aria-label="Close"></button>
									</div>
									<div class="modal-body">
										<div class="col-12 alert alert-danger  align-items-center" role="alert">
											<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img"
												aria-label="Danger:" style="float: left;">
												<use xlink:href="#exclamation-triangle-fill" />
											</svg>
											<div>
												¿Estas seguro de querer eliminar el riesgo {{riesgoItem.idRiesgo}}?
											</div>
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-outline-primary"
											data-bs-dismiss="modal">Cerrar</button>
										<button type="button" class="btn btn-danger"
											(click)="eliminarRiesgo(RiesgoList)">Eliminar
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
												fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
												<path
													d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
											</svg>
										</button>
									</div>
								</div>
							</div>
						</div>
						<td [attr.contenteditable]="contenteditable">{{riesgoItem.macroProceso}}</td>
						<td [attr.contenteditable]="contenteditable">{{riesgoItem.proceso}}</td>
						<td [attr.contenteditable]="contenteditable">{{riesgoItem.subProceso}}</td>
						<td [attr.contenteditable]="contenteditable">{{riesgoItem.idRiesgo}}</td>
						<td [attr.contenteditable]="contenteditable">{{riesgoItem.descripcion}}</td>
						<td [attr.contenteditable]="contenteditable">{{causaItem.descripcion}}</td>
						<td [attr.contenteditable]="contenteditable">{{riesgoItem.consecuencia}}</td>
						<td [attr.contenteditable]="contenteditable">{{riesgoItem.tipoEvento}}</td>
						<td id="formulado" [className]="esFomulado ? 'formulado' : 'inactivo'">{{riesgoItem.tipoRiesgo}}
						</td>
						<td [attr.contenteditable]="contenteditable">{{riesgoItem.iff}}</td>
						<td [attr.contenteditable]="contenteditable">{{riesgoItem.ic}}</td>
						<td [attr.contenteditable]="contenteditable">{{riesgoItem.ios}}</td>
						<td [attr.contenteditable]="contenteditable">{{riesgoItem.riesgoFraude}}</td>
						<td [attr.contenteditable]="contenteditable">{{riesgoItem.probabilidad}}</td>
						<td [attr.contenteditable]="contenteditable">{{riesgoItem.impacto}}</td>
						<td id="formulado" [className]="esFomulado ? 'formulado' : 'inactivo'">A</td>
						<td [attr.contenteditable]="contenteditable"></td>
						<td [attr.contenteditable]="contenteditable"></td>
						<td [attr.contenteditable]="contenteditable"></td>
						<td [attr.contenteditable]="contenteditable"></td>
						<td [attr.contenteditable]="contenteditable"></td>
						<td [attr.contenteditable]="contenteditable">Documentación</td>
						<td [attr.contenteditable]="contenteditable"></td>
						<td [attr.contenteditable]="contenteditable"></td>
						<td [attr.contenteditable]="contenteditable"></td>
						<td [attr.contenteditable]="contenteditable"></td>
						<td [attr.contenteditable]="contenteditable"></td>
						<td [attr.contenteditable]="contenteditable"></td>
						<td [attr.contenteditable]="contenteditable"></td>
						<td [attr.contenteditable]="contenteditable"></td>
						<td [attr.contenteditable]="contenteditable"></td>
						<td id="formulado" [className]="esFomulado ? 'formulado' : 'inactivo'">Formulado</td>
						<td [attr.contenteditable]="contenteditable"></td>
						<td [attr.contenteditable]="contenteditable"></td>
						<td id="formulado" [className]="esFomulado ? 'formulado' : 'inactivo'"></td>
						<td [attr.contenteditable]="contenteditable"></td>
						<td [attr.contenteditable]="contenteditable"></td>
						<td id="formulado" [className]="esFomulado ? 'formulado' : 'inactivo'">Formulado%</td>
						<td [attr.contenteditable]="contenteditable"></td>
						<td id="formulado" [className]="esFomulado ? 'formulado' : 'inactivo'">Formulado%</td>
						<td id="formulado" [className]="esFomulado ? 'formulado' : 'inactivo'">Formulado%</td>
						<td id="formulado" [className]="esFomulado ? 'formulado' : 'inactivo'">Formulado</td>
						<td id="formulado" [className]="esFomulado ? 'formulado' : 'inactivo'">Formulado</td>
						<td [attr.contenteditable]="contenteditable"></td>
						<td [attr.contenteditable]="contenteditable"></td>
						<td scope="col">
							
							<button type="button" class="btn btn-success" (click)="editClick(riesgoItem)"
								*ngIf="ocultarBoton" data-bs-toggle="modal"
								[attr.data-bs-target]="'#editar' + causaItem.IdRiesgoAsociado" data-backdrop="static"
								data-keyboard="false">Editar Riesgo
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
									class="bi bi-pencil-square" viewBox="0 0 16 16">
									<path
										d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
									<path fill-rule="evenodd"
										d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
								</svg>
							</button>
						</td>
						<td scope="col">
							<button type="button" class="btn btn-danger" data-bs-toggle="modal"
								[attr.data-bs-target]="'#eliminar' + causaItem.IdRiesgoAsociado">Eliminar Riesgo
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
									class="bi bi-trash3" viewBox="0 0 16 16">
									<path
										d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
								</svg>
							</button>
						</td>
					</tr>
				</ng-container>
			</ng-container>-->
		</tbody>
	</table>

</div>


<!--Modales de alta de riesgo y edicion -->
<div class="modal" id="altaRiesgo">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Estatus de solicitud</h5>
				<a href="/matriz">
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</a>
			</div>
			<div class="modal-body">
				<div class="col-12 alert alert-success  align-items-center" role="alert">
					<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"
						style="float: left;">
						<use xlink:href="#check-circle-fill" />
					</svg>
					<div>
						Riesgo, dado de alta exitosamente
					</div>
				</div>
				<div class="modal-footer">
					<a href="/matriz">
						<button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Ok</button>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal" id="editarRiesgo">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Estatus de solicitud</h5>
				<a href="/matriz">
					<button type="button" class="btn-close" href="/" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</a>
			</div>
			<div class="modal-body">
				<div class="col-12 alert alert-success  align-items-center" role="alert">
					<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"
						style="float: left;">
						<use xlink:href="#check-circle-fill" />
					</svg>
					<div>
						Riesgo, editado exitosamente
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<a href="/matriz">
					<button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Ok</button>
				</a>
			</div>
		</div>
	</div>
</div>