.formulado{
	background-color: rgb(167, 167, 181, 0.5);
}
#formulado:hover{
	background-color: rgb(86, 86, 90);
	color: white;
}
td.columLarga {
	float: left;
	width: 22vw;
	border: none;
	/*padding-top: 20%;
	padding-bottom: 15%;*/
  }
