<!--Icono de paloma verde y triangulo warning-->
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
	<symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
		<path
			d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
	</symbol>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
	<symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
		<path
			d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
	</symbol>
</svg>
<!-- Modal para llenado de riesgo -->
<div class="modal fade" id="modalRiesgo" tabindex="-1" aria-labelledby="modalRiesgoLabel" aria-hidden="true">
	<div class="modal-dialog">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title fs-5 fw-bold" id="modalRiesgoLabel">Llene los campos para añadir un Riesgo</h5>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
		  <app-riesgo [riesgo]="riesgo" *ngIf="ActivarAltaRiesgo"></app-riesgo>
		</div>
		
	  </div>
	</div>
  </div>
<!--Inclución de header y sidebar-->
<div id="infoSeccion">

	<table class="table table-bordered" id="alineada">
		<thead id="alineada">
			<tr>
			<tr>
				<th scope="col" colspan="3" class="gris">Proceso</th>
				<th scope="col" colspan="13" class="anaranjado">RIESGO INHERENTE</th>
				<th scope="col" colspan="4" class="azul-marino">CONTROL</th>
				<th scope="col" colspan="12" class="verde">EVALUACIÓN DE CONTROLES</th>
				<th scope="col" colspan="10" class="azul-marino">CONTROL</th>
				<th scope="col" colspan="2" class="anaranjado">RIESGO RESIDUAL</th>
				<th scope="col" class="gris">COMENTARIOS</th>
				<th scope="col" class="bg-light" colspan="2" rowspan="2">Opciones</th>
			</tr>
			<tr>
				<th scope="col" colspan="8"></th>
				<th scope="col" class="gris">Formulado</th>
				<th scope="col" colspan="6"></th>
				<th scope="col" class="gris">Formulado</th>
				<th scope="col" colspan="15"></th>
				<th scope="col" class="gris">Formulado</th>
				<th scope="col" colspan="2"></th>
				<th scope="col" class="gris">Formulado</th>
				<th scope="col" colspan="2"></th>
				<th scope="col" class="gris">Formulado</th>
				<th scope="col"></th>
				<th scope="col" colspan="4" class="gris">Formulado</th>
				<th scope="col" colspan="2"></th>
			</tr>
			<tr>
				<th scope="col" class="morado" rowspan="2">Macroproceso</th>
				<th scope="col" class="morado" rowspan="2">Proceso</th>
				<th scope="col" class="morado" rowspan="2">Subproceso</th>
				<th scope="col" class="naranja" rowspan="2">ID Riesgo</th>
				<th scope="col" class="verde" rowspan="2">Descripción del Riesgo</th>
				<th scope="col" class="verde" rowspan="2">Causa</th>
				<th scope="col" class="verde" rowspan="2">Consecuencia</th>
				<th scope="col" class="naranja" rowspan="2">Tipo de Evento</th>
				<th scope="col" class="naranja" rowspan="2">Tipo de Riesgo</th>
				<th scope="col" class="naranja" colspan="3">Importancia relativa</th>
				<th scope="col" class="naranja" rowspan="2">Riesgo de Fraude</th>
				<th scope="col" class="naranja" rowspan="2">Probabilidad</th>
				<th scope="col" class="naranja" rowspan="2">Impacto</th>
				<th scope="col" class="naranja" rowspan="2">Nivel Riesgo Inherente</th>
				<th scope="col" class="azul-marino" rowspan="2">ID del Control</th>
				<th scope="col" class="azul-marino" rowspan="2">General/Proceso</th>
				<th scope="col" class="azul-marino" rowspan="2">Descripción del Control</th>
				<th scope="col" class="azul-marino" rowspan="2">Evidencia del Control</th>
				<th scope="col" class="verde" rowspan="2">1. Segregación de Funciones</th>
				<th scope="col" class="verde" rowspan="2">2. Documentación (Política, procedimiento, manual,
					etc.)</th>
				<th scope="col" class="azul-marino" rowspan="2">Tipo de Control</th>
				<th scope="col" class="verde" rowspan="2">3. Naturaleza Adecuada</th>
				<th scope="col" class="azul-marino" rowspan="2">Naturaleza de Control</th>
				<th scope="col" class="verde" rowspan="2">4. Tipo Adecuado</th>
				<th scope="col" class="azul-marino" rowspan="2">Frecuencia de Control</th>
				<th scope="col" class="verde" rowspan="2">5. Frecuencia Adecuada</th>
				<th scope="col" class="azul-marino" rowspan="2">Responsable del Control</th>
				<th scope="col" class="verde" rowspan="2">6. Responsabilidad del Control</th>
				<th scope="col" class="verde" rowspan="2">7. Generación de evidencia</th>
				<th scope="col" class="bg-success" style="color: white;" rowspan="2">Diseño del Control</th>
				<th scope="col" class="azul-marino" rowspan="2">Control clave</th>
				<th scope="col" class="azul-marino" rowspan="2">Control diseñado para mitigar fraude</th>
				<th scope="col" class="azul-marino" rowspan="2">Estrategia de monitoreo</th>
				<th scope="col" class="azul-marino" rowspan="2">Diseño de prueba</th>
				<th scope="col" class="azul-marino" rowspan="2">Evaluación de funcionalidad del control</th>
				<th scope="col" class="azul-marino" rowspan="2">Calificación del Control (0% a 99%)</th>
				<th scope="col" class="azul-marino" rowspan="2">Cobertura individual por Control</th>
				<th scope="col" class="azul-marino" rowspan="2">Cobertura Ponderada por Control (Calificación x
					Cobertura)</th>
				<th scope="col" class="azul-marino" rowspan="2">Coberture Total de los Controles</th>
				<th scope="col" class="azul-marino" rowspan="2">Nivel de Cobertura Total de los Controles</th>
				<th scope="col" class="naranja" rowspan="2">Gravedad Riesgo Residual</th>
				<th scope="col" class="naranja">Tratamiento del Riesgo</th>
				<th scope="col" class="morado" rowspan="2">Observaciones</th>
			</tr>
			<tr>
				<td class="naranja">IF</td>
				<td class="naranja">IC</td>
				<td class="naranja">IO</td>
				<th class="naranja">Estrategia</th>
				<th scope="col" rowspan="2" colspan="2" ><button type="button"  data-bs-toggle="modal" class="btn btn-primary" (click)="addClick()" data-bs-target="#modalRiesgo">
					Agregar Riesgo
				  </button></th>
			</tr>
		</thead>
		<ng-container  *ngFor="let controlItem of ControlList">
			<ng-container *ngFor="let riesgoItem of RiesgoList";>
		<tbody>		
			<tr *ngIf="riesgoItem.idRiesgo === controlItem.IdRiesgoAsociado">
				<script>
					if (controlItem.IdRiesgoAsociado = riesgoItem.idRiesgo){
								console.log("hola");
					</script>
				<td  [attr.contenteditable]="contenteditable">{{riesgoItem.macroProceso}}</td>
				<td  [attr.contenteditable]="contenteditable">{{riesgoItem.proceso}}</td>
				<td  [attr.contenteditable]="contenteditable">{{riesgoItem.subProceso}}</td>
				<td  [attr.contenteditable]="contenteditable">{{riesgoItem.idRiesgo}}</td>
				<td  [attr.contenteditable]="contenteditable">{{riesgoItem.descripcion}}</td>
				<td  [attr.contenteditable]="contenteditable">{{riesgoItem.causa}}</td>
				<td  [attr.contenteditable]="contenteditable">{{riesgoItem.consecuencia}}</td>
				<td  [attr.contenteditable]="contenteditable">{{riesgoItem.tipoEvento}}</td>
				<td [className]="esFomulado ? 'formulado' : 'inactivo'">{{riesgoItem.tipoRiesgo}}</td>
				<td  [attr.contenteditable]="contenteditable">{{riesgoItem.iff}}</td>
				<td  [attr.contenteditable]="contenteditable">{{riesgoItem.ic}}</td>
				<td  [attr.contenteditable]="contenteditable">{{riesgoItem.ios}}</td>
				<td  [attr.contenteditable]="contenteditable">{{riesgoItem.riesgoFraude}}</td>
				<td  [attr.contenteditable]="contenteditable">{{riesgoItem.probabilidad}}</td>
				<td  [attr.contenteditable]="contenteditable">{{riesgoItem.impacto}}</td>
				<td [className]="esFomulado ? 'formulado' : 'inactivo'">A</td>
				<td  [attr.contenteditable]="contenteditable">{{controlItem.Id}}</td>
				<td  [attr.contenteditable]="contenteditable">{{controlItem.proceso}}</td>
				<td  [attr.contenteditable]="contenteditable">{{controlItem.descripcion}}</td>
				<td  [attr.contenteditable]="contenteditable">{{controlItem.evidencia}}</td>
				<td  [attr.contenteditable]="contenteditable">{{controlItem.segregacion}}</td>
				<td  [attr.contenteditable]="contenteditable">Documentación</td>
				<td  [attr.contenteditable]="contenteditable">{{controlItem.tipoControl}}</td>
				<td  [attr.contenteditable]="contenteditable">{{controlItem.naturalezaAdecuada}}</td>
				<td  [attr.contenteditable]="contenteditable">{{controlItem.naturalezaControl}}</td>
				<td  [attr.contenteditable]="contenteditable">{{controlItem.tipoAdecuado}}</td>
				<td  [attr.contenteditable]="contenteditable">{{controlItem.frecuenciaControl}}</td>
				<td  [attr.contenteditable]="contenteditable">{{controlItem.frecuenciaAdecuada}}</td>
				<td  [attr.contenteditable]="contenteditable">{{controlItem.responsable}}</td>
				<td  [attr.contenteditable]="contenteditable">{{controlItem.responsabilidadControl}}</td>
				<td  [attr.contenteditable]="contenteditable">{{controlItem.generacionEvidencia}}</td>
				<td [className]="esFomulado ? 'formulado' : 'inactivo'">Diseño del control</td>
				<td  [attr.contenteditable]="contenteditable">{{controlItem.controlClave}}</td>
				<td  [attr.contenteditable]="contenteditable">{{controlItem.controlFraude}}</td>
				<td [className]="esFomulado ? 'formulado' : 'inactivo'">{{controlItem.estrategia}}</td>
				<td  [attr.contenteditable]="contenteditable">{{controlItem.descripcionTratamiento}}</td>
				<td  [attr.contenteditable]="contenteditable">{{controlItem.causasAdjuntas}}</td>
				<td [className]="esFomulado ? 'formulado' : 'inactivo'">48%</td>
				<td  [attr.contenteditable]="contenteditable">{{controlItem.cobertura}}</td>
				<td [className]="esFomulado ? 'formulado' : 'inactivo'">19%</td>
				<td [className]="esFomulado ? 'formulado' : 'inactivo'">48%</td>
				<td [className]="esFomulado ? 'formulado' : 'inactivo'">Medio</td>
				<td [className]="esFomulado ? 'formulado' : 'inactivo'">Alta</td>
				<td [attr.contenteditable]="contenteditable">{{controlItem.tipoAdecuado}}</td>
				<td [attr.contenteditable]="contenteditable">{{controlItem.observaciones}}</td>
				<td scope="col">
						<!--(click)="editarRiesgo()" para lo gray y set editable-->
						<button type="button"  class="btn btn-success" (click)="editClick(riesgoItem)" *ngIf="ocultarBoton" data-bs-toggle="modal"
						data-bs-target="#modalEdicionRiesgo" data-backdrop="static" data-keyboard="false">Editar Riesgo
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
								class="bi bi-pencil-square" viewBox="0 0 16 16">
								<path
									d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
								<path fill-rule="evenodd"
									d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
							</svg>
						</button>
				</td>
				<td scope="col">
					<button type="button" class="btn btn-danger" data-bs-toggle="modal"
						data-bs-target="#eliminar">Eliminar Riesgo
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
							class="bi bi-trash3" viewBox="0 0 16 16">
							<path
								d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
						</svg>
					</button>
				</td>
			</tr>

			<script>
			}
			</script>
		</tbody>
		</ng-container>
	</ng-container>
	</table>
	
</div>

	<!-- Modal para la edicion de riesgo -->
<div class="modal fade" id="modalEdicionRiesgo" tabindex="-1" aria-labelledby="modalRiesgoLabel" aria-hidden="true">
	<div class="modal-dialog">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title fs-5 fw-bold" id="modalRiesgoLabel">Llene los campos para editar el riesgo seleccionado </h5>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
		</div>
		<div class="modal-body">
			<app-riesgo [riesgo]="riesgo" *ngIf="ActivarEdicionRiesgo" ></app-riesgo>
		</div>
		
	  </div>
	</div>
  </div>

		<!--Modales de alta de riesgo y control
		<% if (registro=='riesgoAlta' ) { %>
			<script>
				jQuery(document).ready(function (e) {
					$('#altaRiesgo').modal('show');
				});
			</script>
			<div class="modal" id="altaRiesgo">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Estatus de solicitud</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<div class="col-12 alert alert-success  align-items-center" role="alert">
								<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img"
									aria-label="Success:" style="float: left;">
									<use xlink:href="#check-circle-fill" />
								</svg>
								<div>
									Riesgo, dado de alta exitosamente
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-outline-primary"
									data-bs-dismiss="modal">Cerrar</button>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!--Modal para la alerta de un control dado de alta exitosamente
			<% } if (registro=='controlAlta' ) { %>
				<script>
					jQuery(document).ready(function (e) {
						$('#altaControl').modal('show');

					});
				</script>
				<div class="modal" id="altaControl">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">Estatus de solicitud</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal"
									aria-label="Close"></button>
							</div>
							<div class="modal-body">
								<div class="col-12 alert alert-success  align-items-center" role="alert">
									<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img"
										aria-label="Success:" style="float: left;">
										<use xlink:href="#check-circle-fill" />
									</svg>
									<div>
										Control, dado de alta exitosamente
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-outline-primary"
									data-bs-dismiss="modal">Cerrar</button>
							</div>
						</div>
					</div>
				</div>
				<% } %>
					<% if (edicionRiesgo=='verdadero' ) { %>
						<script>
							jQuery(document).ready(function (e) {
								$('#altaControl').modal('show');

							});
						</script>
						<div class="modal" id="altaControl">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title">Estatus de solicitud</h5>
										<button type="button" class="btn-close" data-bs-dismiss="modal"
											aria-label="Close"></button>
									</div>
									<div class="modal-body">
										<div class="col-12 alert alert-success  align-items-center" role="alert">
											<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img"
												aria-label="Success:" style="float: left;">
												<use xlink:href="#check-circle-fill" />
											</svg>
											<div>
												Riesgo, editado exitosamente
											</div>
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-outline-primary"
											data-bs-dismiss="modal">Cerrar</button>
									</div>
								</div>
							</div>
						</div>
						<% } %>
					-->
							<!--Modal apra verificar si esta seguro de eliminar un riesgo-->
							<div class="modal" id="eliminar">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title">Advertencia</h5>
											<button type="button" class="btn-close" data-bs-dismiss="modal"
												aria-label="Close"></button>
										</div>
										<div class="modal-body">
											<div class="col-12 alert alert-danger  align-items-center" role="alert">
												<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img"
													aria-label="Danger:" style="float: left;">
													<use xlink:href="#exclamation-triangle-fill" />
												</svg>
												<div>
													¿Estas seguro de querer eliminar este riesgo y su control adjunto?
												</div>
											</div>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-outline-primary"
												data-bs-dismiss="modal">Cerrar</button>
												<tr *ngFor="let riesgoItem of RiesgoList">
												<button type="button" class="btn btn-danger"  (click)="elimarRiesgo(riesgoItem)" >Eliminar
													<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
													fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
													<path
														d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
												</svg>
											</button>
										</tr>
										</div>
									</div>
								</div>
							</div>
							<!--<% if (eliminacionRiesgo=='verdadero' ) { %>-->
								<script>
									jQuery(document).ready(function (e) {
										$('#altaControl').modal('show');

									});
								</script>
								<div class="modal" id="altaControl">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title">Estatus de solicitud</h5>
												<button type="button" class="btn-close" data-bs-dismiss="modal"
													aria-label="Close"></button>
											</div>
											<div class="modal-body">
												<div class="col-12 alert alert-success  align-items-center"
													role="alert">
													<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img"
														aria-label="Success:" style="float: left;">
														<use xlink:href="#check-circle-fill" />
													</svg>
													<div>
														Riesgo, eliminado exitosamente
													</div>
												</div>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-outline-primary"
													data-bs-dismiss="modal">Cerrar</button>
											</div>
										</div>
									</div>
								</div>
								<!--<% } %> -->