.formulado {
	background-color: rgb(167, 167, 181, 0.5);
}

#formulado:hover {
	background-color: rgb(86, 86, 90);
	font-weight: 900;
}

.verde {
	background-color: rgb(48, 153, 51) !important;
}
.verdeImpacto {
	background-color: rgb(48, 153, 51) !important;
	color: black;
}


.rojo {
	background-color: #dc3545 !important;
}

.anaranjado {
	background-color: rgb(222, 192, 0) !important;
	color: black;
}

.medio {
	background-color: yellow !important;
}

.bajo {
	background-color: rgb(146, 208, 80) !important;
}
.verdeImpacto:hover {
	background-color: rgb(48, 153, 51) !important;
	color: black;
	font-weight: 900
}

.rojo:hover {
	background-color: #dc3545 !important;
	color: black;
	font-weight: 900;
}

.anaranjado:hover {
	background-color: rgb(222, 192, 0) !important;
	color: black;
	font-weight: 900;
}

.medio:hover {
	background-color: yellow !important;
	color: black;
	font-weight: 900;
}

.bajo:hover {
	background-color: rgb(146, 208, 80) !important;
	color: black;
	font-weight: 900;
}