<div class="row">
	<div class="col">
		<p class="fw-bold">Descripción de la causa</p>
		<textarea class="form-control" [(ngModel)]="descripcion" value="{{causa.descripcion}}"
placeholder="Escriba ela descripción correspondiente" rows="2"></textarea>
	</div>
	<div class="col">
		<p class="text-center fw-bold">Id del riesgo asociado</p>
		<div class="form-floating mb-3">
			<select class="form-select" [(ngModel)]="idRiesgoAsociado" value="{{causa.idRiesgoAsociado}}" aria-label="Default select example">
				<ng-container *ngFor="let riesgoItem of RiesgoList">
						<option value="{{riesgoItem.idRiesgo}}">{{riesgoItem.idRiesgo}}</option>
					</ng-container>
			</select>
			<label for="floatingSelect">Seleccione</label>
		</div>
	</div>
</div>
<div class="row">
	<div class="modal-footer">
		<button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="editBoton" (click)="closeClick()">Cerrar</button>
		<button type="submit" class="btn btn-primary" *ngIf="causa.Anadir == 0" (click)="anadirCausa()"
			data-bs-toggle="modal" data-bs-target="#altaControl">Añadir Causa</button>
		<button type="submit" class="btn btn-primary" *ngIf="causa.Anadir != 0" (click)="updateCausa()"
			data-bs-toggle="modal" data-bs-target="#editarControl">Editar Causa</button>
	</div>
</div>

    <!--Icono de paloma verde e icono de advartencia triangular-->
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
      <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path
          d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
      </symbol>
    </svg>
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
<symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
	<path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
  </symbol>
</svg>


    <!--Modales de confirmación de alta de causa-->

      <div class="modal" id="altaCausa">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Estatus de solicitud</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="col-12 alert alert-success  align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"
                  style="float: left;">
                  <use xlink:href="#check-circle-fill" />
                </svg>
                <div>
                  Causa de riesgo, dada de alta exitosamente
                </div>
              </div>
              <div class="modal-footer">
				  <a href="/causas">
                <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Ok</button>
			</a>
              </div>
            </div>
          </div>
        </div>