<div class="row">
	<div class="col">
		<p class="fw-bold">Descripción de la causa</p>
		<textarea class="form-control" [(ngModel)]="descripcion" value="{{causa.descripcion}}"
			placeholder="Escriba la descripción correspondiente" rows="2"></textarea>
	</div>
</div>
<div class="row">
	<div class="col">
		<p class="text-center fw-bold">Id del riesgo asociado</p>
		<div class="form-floating mb-3">
			<select class="form-select" [(ngModel)]="idRiesgoAsociado" value="{{causa.idRiesgoAsociado}}"
				aria-label="Default select example">
				<ng-container *ngFor="let riesgoItem of RiesgoList; let i = index; let tamLista = count">
					<ng-container *ngIf="riesgoItem.idRiesgo !== causa.IdRiesgoAsociado">
						<option value="{{riesgoItem.idRiesgo}}">{{riesgoItem.idRiesgo}}</option>
					</ng-container>
				</ng-container>
			</select>
			<label for="floatingSelect">Seleccione el ID del riesgo asociado</label>
		</div>
	</div>
	<div class="col-4"  *ngIf="causa.Anadir == 0">
		<p class="text-center fw-bold">&nbsp;</p>
		<button type="button" class="btn btn-success" (click)="desplegarNuevoRiesgo()">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square"
				viewBox="0 0 16 16">
				<path
					d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
				<path
					d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
			</svg>
			Agregar otro riesgo
		</button>
	</div>
	<div class="col-4"  *ngIf="causa.Anadir != 0">
		<p class="text-center fw-bold">&nbsp;</p>
		<button type="button" class="btn btn-success" (click)="desplegarNuevoRiesgo()">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square"
				viewBox="0 0 16 16">
				<path
					d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
				<path
					d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
			</svg>
			Editar riesgo asociado {{nuevoRiesgo + 2}}
		</button>
	</div>
</div>

<div class="row">
	<div class="col-auto" *ngIf="(nuevoRiesgo > 0) && (nuevoRiesgo  < this.RiesgoList.length);else demasiadosRiesgos">
		<p class="text-center fw-bold">Riesgo 2 asociado</p>
		<div class="form-floating mb-3">
			<select class="form-select" [(ngModel)]="idRiesgoAsociado2" name="impacto" value="{{causa.idRiesgoAsociado2}}"
				aria-label="Default select example">
				<ng-container *ngFor="let riesgoItem of RiesgoList; let i = index; let tamLista = count">
					<ng-container *ngIf="riesgoItem.idRiesgo !== causa.IdRiesgoAsociado2">
						<!--<option  *ngIf="riesgoItem.idRiesgo === causa.idRiesgoAsociado"></option>-->
						<option value="{{riesgoItem.idRiesgo}}">{{riesgoItem.idRiesgo}}</option>
						<option *ngIf="i == tamLista-1" value="">N/A</option>
					</ng-container>
				</ng-container>
			</select>
			<label for="floatingSelect">Seleccione</label>
		</div>
	</div>
	<div class="col-auto" *ngIf="(nuevoRiesgo > 1) && (nuevoRiesgo  < this.RiesgoList.length);">
		<p class="text-center fw-bold">Riesgo 3 asociado</p>
		<div class="form-floating mb-3">
			<select class="form-select" [(ngModel)]="idRiesgoAsociado3" name="impacto" value="{{causa.idRiesgoAsociado3}}"
				aria-label="Default select example">
				<ng-container *ngFor="let riesgoItem of RiesgoList; let i = index; let tamLista = count">
					<ng-container *ngIf="riesgoItem.idRiesgo !== causa.IdRiesgoAsociado3">
						<option value="{{riesgoItem.idRiesgo}}">{{riesgoItem.idRiesgo}}</option>
						<option *ngIf="i == tamLista-1" value="">N/A</option>
					</ng-container>
				</ng-container>
			</select>
			<label for="floatingSelect">Seleccione</label>
		</div>
	</div>
	<div class="col-auto" *ngIf="(nuevoRiesgo > 2) && (nuevoRiesgo  < this.RiesgoList.length);">
		<p class="text-center fw-bold">Riesgo 4 asociado</p>
		<div class="form-floating mb-3">
			<select class="form-select" [(ngModel)]="idRiesgoAsociado4" name="impacto" value="{{causa.idRiesgoAsociado4}}"
				aria-label="Default select example">
				<ng-container *ngFor="let riesgoItem of RiesgoList; let i = index; let tamLista = count">
					<ng-container *ngIf="riesgoItem.idRiesgo !== causa.IdRiesgoAsociado4">
						<option value="{{riesgoItem.idRiesgo}}">{{riesgoItem.idRiesgo}}</option>
						<option *ngIf="i == tamLista-1" value="">N/A</option>
					</ng-container>
				</ng-container>
			</select>
			<label for="floatingSelect">Seleccione</label>
		</div>
	</div>
	<div class="col-auto" *ngIf="(nuevoRiesgo > 3) && (nuevoRiesgo  < this.RiesgoList.length);">
		<p class="text-center fw-bold">Riesgo 5 asociado</p>
		<div class="form-floating mb-3">
			<select class="form-select" [(ngModel)]="idRiesgoAsociado5" name="impacto" value="{{causa.idRiesgoAsociado5}}"
				aria-label="Default select example">
				<ng-container *ngFor="let riesgoItem of RiesgoList; let i = index; let tamLista = count">
					<ng-container *ngIf="riesgoItem.idRiesgo !== causa.IdRiesgoAsociado5">
						<option value="{{riesgoItem.idRiesgo}}">{{riesgoItem.idRiesgo}}</option>
						<option *ngIf="i == tamLista-1" value="">N/A</option>
					</ng-container>
				</ng-container>
			</select>
			<label for="floatingSelect">Seleccione</label>
		</div>
	</div>
	<div class="col-auto" *ngIf="(nuevoRiesgo > 4) && (nuevoRiesgo  < this.RiesgoList.length);">
		<p class="text-center fw-bold">Riesgo 6 asociado</p>
		<div class="form-floating mb-3">
			<select class="form-select" [(ngModel)]="idRiesgoAsociado6" name="impacto" value="{{causa.idRiesgoAsociado6}}"
				aria-label="Default select example">
				<ng-container *ngFor="let riesgoItem of RiesgoList; let i = index; let tamLista = count">
					<ng-container *ngIf="riesgoItem.idRiesgo !== causa.IdRiesgoAsociado6">
						<option value="{{riesgoItem.idRiesgo}}">{{riesgoItem.idRiesgo}}</option>
						<option *ngIf="i == tamLista-1" value="">N/A</option>
					</ng-container>
				</ng-container>
			</select>
			<label for="floatingSelect">Seleccione</label>
		</div>
	</div>
</div>
<div class="row text-center">
	<ng-template  #demasiadosRiesgos>
		<div class="col text-center" *ngIf="(nuevoRiesgo > 0)">
			<div class="modal-body">
				<div class="col-12 alert alert-danger  align-items-center" role="alert">
					<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"
						style="float: left;">
						<use xlink:href="#exclamation-triangle-fill" />
					</svg>
					<div>
						No existen más de {{nuevoRiesgo}} riesgos en el sistema para adjuntar<br>
						<a href="/listaRiesgos" style="color: red;">Ir a lista de riesgos</a>
					</div>
				</div>
			</div>
		</div>
	</ng-template>
</div>
<!--
	<div class="col">
		<p class="text-center fw-bold">Id del control asociado</p>
		<div class="form-floating mb-3">
			<select class="form-select" [(ngModel)]="idControlAsociado" value="{{causa.idControlAsociado}}" aria-label="Default select example">
				<ng-container *ngFor="let controItem of ControlList">
					<ng-container *ngIf="controItem.idControl !== causa.IdControlAsociado">
						<option value="{{controItem.idControl}}">{{controItem.idControl}}</option>
					</ng-container>
				</ng-container>
			</select>
			<label for="floatingSelect">Seleccione el ID del control asociado</label>
		</div>
	</div>
	-->
<div class="row">
	<div class="modal-footer">
		<a href="/metodologia" *ngIf="causa.Anadir == 0">
		<button type="button"  class="btn btn-danger" data-bs-dismiss="modal" id="editBoton"
			(click)="closeClick()">Cerrar</button>
		</a>
		<a href="/causas" *ngIf="causa.Anadir != 0">
			<button type="button" *ngIf="causa.Anadir != 0" class="btn btn-danger" data-bs-dismiss="modal" id="editBoton"
			(click)="closeClick()">Cerrar</button>
		</a>
		<button type="submit" class="btn btn-primary" *ngIf="causa.Anadir == 0" (click)="anadirCausa()"
			data-bs-toggle="modal" data-bs-target="#altaCausa">Añadir Causa</button>
		<button type="submit" class="btn btn-primary" *ngIf="causa.Anadir != 0" (click)="updateCausa()"
			data-bs-toggle="modal" data-bs-target="#editarControl">Editar Causa</button>
	</div>
</div>