<div class="row" id="infoSeccion">
      <div class="col-4">
        <table class="table table-bordered text-center">
          <thead>
            <tr>
				<th scope="col" colspan="3" class="anaranjado">
              <p class="text-center fw-bold">Macroproceso adjunto</p>
              <div class="form-floating mb-3">
                <select class="form-select" id="seleccionProceso" name="macroproceso"
                  aria-label="Default select example" onchange="location = this.value;">
                  <option selected>...</option>
                  <option value="/productoMapaResidual">Concepto al Producto</option>
                  <option value="/compraMapaResidual">Compra al Pago</option>
                  <option value="/abastoMapaResidual">Demanda al Abasto</option>
                  <option value="/pedidoMapaResidual">Pedido al Cobro</option>
                  <option value="/mantenimientoMapaResidual">Mantenimiento a la Liquidación</option>
                  <option value="/inversionMapaResidual">Inversión a la Desinversión</option>
                  <option value="finanzasMapaResidual">Finanzas a la Administración</option>
                  <option value="/contratacionMapaResidual">Contratación al Retiro</option>
                  <option value="/procesosMapaResidual">Procesos Criticos fuera de Macros</option>
                </select>
                <label for="floatingSelect">Seleccione un macroproceso
                </label>
              </div>
			  </th>
            </tr>
            <tr>
              <th scope="col" colspan="3" class="anaranjado">RIESGO RESIDUAL</th>
            </tr>
            <tr>
            <tr>
              <th scope="col" colspan="3"></th>
            </tr>
            <tr>
              <th scope="col" class="naranja">ID Riesgo</th>
              <th scope="col" class="naranja">Nivel de CTC</th>
              <th scope="col" class="naranja">Gravedad RI</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let riesgoItem of RiesgoList" >
				<tr>
					<td>{{riesgoItem.idRiesgo}}</td>
					<td>¿Formulado?</td>
					<td>Formulado</td>
				</tr>
			</ng-container>
          </tbody>
        </table>    
	</div>  
      <div class="col-8">
        <figure class="highcharts-figure">
          <div id="container"></div>
          <p class="highcharts-description">
            Mapa de calor inherente residual asignando del macroproceso <strong>"<%= proceso %>"</strong> mostrando ID
            de cada riesgo.
          </p>
        </figure>
        
	</div>
</div>

