<div class="row" id="infoSeccion">
	<div class="col-4">
		<table class="table table-bordered text-center">
			<thead>
				<tr>
					<th scope="col" colspan="3" class="anaranjado">
					<p class="text-center fw-bold">Macroproceso adjunto</p>
					<div class="form-floating mb-3">
						<select class="form-select" id="seleccionProceso" name="macroproceso"
							aria-label="Default select example" onchange="location = this.value;">
							<option selected>...</option>
							<option value="/productoMapaRiesgo">Concepto al Producto</option>
							<option value="/compraMapaRiesgo">Compra al Pago</option>
							<option value="/abastoMapaRiesgo">Demanda al Abasto</option>
							<option value="/pedidoMapaRiesgo">Pedido al Cobro</option>
							<option value="/mantenimientoMapaRiesgo">Mantenimiento a la Liquidación</option>
							<option value="/inversionMapaRiesgo">Inversión a la Desinversión</option>
							<option value="finanzasMapaRiesgo">Finanzas a la Administración</option>
							<option value="/contratacionMapaRiesgo">Contratación al Retiro</option>
							<option value="/procesosMapaRiesgo">Procesos Criticos fuera de Macros</option>
						</select>
						<label for="floatingSelect">Seleccione un macroproceso
						</label>
					</div>
				</th>
				</tr>
				<tr>
					<th scope="col" colspan="3" class="anaranjado">RIESGO INHERENTE</th>
				</tr>
				<tr>
				<tr>
					<th scope="col" colspan="3"></th>
				</tr>
				<tr>
					<th scope="col" class="naranja">ID Riesgo</th>
					<th scope="col" class="naranja">Impacto</th>
					<th scope="col" class="naranja">Probabilidad</th>
				</tr>
			</thead>
			<tbody>
				<ng-container *ngFor="let riesgoItem of RiesgoList" >
				<tr>
					<td>{{riesgoItem.idRiesgo}}</td>
					<td>{{riesgoItem.impacto}}</td>
					<td>{{riesgoItem.probabilidad}}</td>
				</tr>
			</ng-container>
			</tbody>
		</table>
	</div>
	<div class="col-auto" id="mapa">
		<figure class="highcharts-figure">
			<div id="container"></div>
			<p class="highcharts-description">
				Mapa de calor inherente asignando del macroproceso <strong>"<%= proceso %>"</strong> mostrando ID de
				cada
				riesgo.
			</p>
		</figure>
	</div>
</div>