<!--Tabla y pastel de riesgo residual empieza-->
<div class="row" ngClass="infoSeccion">
	<div class="col-auto">	
	<table class="table table-bordered" style="text-align: center;">
			<thead>
				<tr>
					<th scope="col" colspan="6" class="verde" style="text-align: left;">RIESGO RESIDUAL</th>
				</tr>
				<tr>
					<th>
						<div class="form-floating mb-3">
							<select class="form-select" id="seleccionProceso" name="macroproceso"
								[(ngModel)]="macroproceso" aria-label="Default select example"
								onchange="location = this.value;">
								<option *ngFor="let macro of macroproceso" [value]="'estadisticasRiesgoResidual/' + macro.Nombre">
									{{macro.Nombre}}</option>
							</select>
							<label for="floatingSelect">Seleccione el macroproceso al que guste ver su gráfico
								adjunto
							</label>
						</div>
					</th>
					<th scope="col" colspan="6" style="text-align: center;">
						<a href="/estadisticasCobertura" style="color: black;">
						<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
							<path fill-rule="evenodd"
								d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z" />
						</svg>
						</a>
					</th>
				</tr>
				<th class="verde">Gravedad</th>
				<th class="verde">Frecuencia</th>
			</thead>
			<tbody>
				<tr>
					<th scope="row">MA</th>
					<td>0</td>
				<tr>
					<th scope="row">A</th>
					<td>3</td>
				</tr>
				<tr>
					<th scope="row">M</th>
					<td>3</td>
				</tr>
				<tr>
					<th scope="row">B</th>
					<td>8</td>
				</tr>
				<tr>
					<th scope="row">MB</th>
					<td>0</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-auto" id="container">
	</div>
</div>
