<header>
	<!--Dependiendo de la seccion mandadada en las vistas desplegar header correspondiente-->
	<!--<% if (seccion=='instructivo' ) { 
	  <div class="container" id="instructivo">
		<div class=" row">
		  <div class="col-7">
			<strong>GRUPO BOCAR CONTROL INTERNO</strong><br>
			<strong>Instructivo de llenado Matriz de Riesgos y Controles</strong><br>
  
		  </div>
		  <div class="col-3 align-self-center">
			<img src="/imagenes/icono.jpg" alt="icono-Bocar" id="icono">
		  </div>
		  <div class="col-2 align-self-center">
  
			 
			<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
			  aria-labelledby="staticBackdropLabel" aria-hidden="true">
			  <div class="modal-dialog">
				<div class="modal-content">
				  <div class="modal-header">
					<h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				  </div>
				  <div class="modal-body">
					...
				  </div>
				  <div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Understood</button>
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	  <% } if (seccion=='matriz' ) { %>
		<div class="container">
		  <div class=" row">
			<div class="col-7">
			  <strong>GRUPO BOCAR CONTROL INTERNO</strong><br>
			  <strong>MATRIZ DE RIEGOS Y CONTROLES</strong><br>
  
			</div>
			<div class="col-3 align-self-center">
			  <img src="/imagenes/icono.jpg" alt="icono-Bocar" id="icono">
			</div>
			<div class="col-2 align-self-center">
			</div>
		  </div>
		</div>
		<% } if (seccion=='criterios' ) { %>
		  <div class="container">
			<div class=" row">
			  <div class="col-7">
				<strong>GRUPO BOCAR CONTROL INTERNO</strong><br>
				<strong>Criterios de Riesgo y Control</strong><br>
  
			  </div>
			  <div class="col-3 align-self-center">
				<img src="/imagenes/icono.jpg" alt="icono-Bocar" id="icono">
			  </div>
			  <div class="col-2 align-self-center">
			  </div>
			</div>
		  </div>
		  <% } if (seccion=='mapaRiesgo' ) { %>
			<div class="container">
			  <div class=" row">
				<div class="col-7">
				  <strong>GRUPO BOCAR CONTROL INTERNO</strong><br>
				  <strong>Mapa de Calor - Riesgo Inherente</strong><br>
  
				</div>
				<div class="col-3 align-self-center">
				  <img src="/imagenes/icono.jpg" alt="icono-Bocar" id="icono">
				</div>
				<div class="col-2 align-self-center">
				</div>
			  </div>
			</div>
			<% } if (seccion=='mapaResidual' ) { %>
			  <div class="container">
				<div class=" row">
				  <div class="col-7">
					<strong>GRUPO BOCAR CONTROL INTERNO</strong><br>
					<strong>Mapa de Calor - Riesgo Residual</strong><br>
  
				  </div>
				  <div class="col-3 align-self-center">
					<img src="/imagenes/icono.jpg" alt="icono-Bocar" id="icono">
				  </div>
				  <div class="col-2 align-self-center">
				  </div>
				</div>
			  </div>
			  <% } if (seccion=='estadisticas' ) { %>
				<div class="container">
				  <div class=" row">
					<div class="col-7">
					  <strong>GRUPO BOCAR CONTROL INTERNO</strong><br>
					  <strong>Estadísticos de Riesgos y Controles</strong><br>
  
					</div>
					<div class="col-3 align-self-center">
					  <img src="/imagenes/icono.jpg" alt="icono-Bocar" id="icono">
					</div>
					<div class="col-2 align-self-center">
					</div>
				  </div>
				</div>-->
				<!--<% } else {if (seccion=='pareto' ) { %>-->
				  <div class="container">
					<div class=" row">
					  <div class="col-7">
						<strong>GRUPO BOCAR CONTROL INTERNO</strong><br>
						<strong>Gráfico de Pareto de causas</strong><br>
  
					  </div>
					  <div class="col-3 align-self-center">
						<img src="/imagenes/icono.jpg" alt="icono-Bocar" id="icono">
					  </div>
					  <div class="col-2 align-self-center">
					  </div>
					</div>
				  </div>
				<!--- <% }} %>-->
  </header>
