.encabezado{
    background-color: rgb(68, 114, 196) !important;
    color: white;
    }
.morado{
        background-color: rgb(0, 0, 106) !important;
        color: white;
}
.naranja{
    background-color: rgb(222, 132, 0) !important;
    color: white;
}
.gris{
    background-color: gray !important;
    color: white;
    
}
.azul-marino{
    background-color: rgb(48, 84, 150) !important;
    color: white;
    
}
.verde{
    background-color: rgb(48, 153, 51) !important;
    color: white;
    
}
.anaranjado{
    background-color: rgb(222, 192, 0) !important;
    color: white;
}
.medio{
background-color: yellow !important;
}
.bajo{
background-color: rgb(109, 241, 109) !important;
}
.categoria{
    background-color: rgb(221, 241, 247) !important;
    
}
.sub-seccion{
    background-color: rgb(48, 84, 150) !important;
    text-align: left;
    color: white;
}
.headers{
    background-color: rgb(0, 32, 96) !important;
    color: white;
}
.sub-total{
    background-color: rgb(248, 203, 173) !important;
}
.total{
    background-color: rgb(169, 208, 142) !important;
}
#alineada{
 text-align: center !important;
 vertical-align: middle !important;
}
table{
    vertical-align: middle;
	
}
th,td{
	border-color: rgba(133, 139, 129, 0.623) !important;
}
.link{
    color: white; 
    text-decoration: none;
}
.link:hover{
    color: white; 
    text-decoration: none;
}
.row>* {
    padding-left: 0 !important;
}

a {
 text-decoration: none;
}
#botonGuardar{
    display: none;
}