<div class="col" id="infoSeccion" class="select">
	<p class="text-center fw-bold">Gráfico de Pareto de causas </p>
	<div class="form-floating mb-3">
		<select class="form-select" id="seleccionProceso" name="macroproceso" [(ngModel)]="macroproceso"
			aria-label="Default select example" onchange="location = this.value;">
			<option *ngFor="let macro of macroproceso" [value]="'pareto/' + macro.Nombre">{{macro.Nombre}}</option>
		</select>
		<label for="floatingSelect">Seleccione el macroproceso al que guste ver su pareto adjunto
		</label>
	</div>
	<div id="container" class="pareto"></div>
	<p class="highcharts-description">
		<strong style="margin-left: 45%;">CAUSAS</strong>
	</p>
</div>