<div class="row sideMenu">
	<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
		<div class="carousel-indicators">
		  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
		  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
		  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
		</div>
		<div class="carousel-inner">
			
		  <div class="carousel-item active" data-bs-interval="5000">
			<img src="../assets/imagenes/Principal.png" alt="..." style="margin-left: 22vw;">
		  </div>
		  <div class="carousel-item" data-bs-interval="5000">
			<a href="/instructivo" class="nav-link text-black" aria-current="page"  style="margin-left: 10vw;">
				<svg xmlns="http://www.w3.org/2000/svg" width="16vw" height="16vh" fill="currentColor" style="z-index: 1;"
					class="bi bi-book" viewBox="0 0 16 16">
					<path
						d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z" />
				</svg>
				<h1 class="textoInstructivo">Instructivo</h1>
			</a>
			<div class="carousel-caption d-none d-md-block" style="z-index: -5;">
			  <strong><h5 style="color: black; font-weight: 900; font-size: x-large;">GRUPO BOCAR CONTROL INTERNO</h5></strong>
			  <p style="color: black; font-size: 18px;">Instructivo de llenado Matriz de Riesgos y Controles</p>
			</div>
		  </div>
		  <div class="carousel-item" data-bs-interval="5000">
			<a href="/metodologia" class="nav-link text-black" style="margin-left: 10vw;">
				<svg xmlns="http://www.w3.org/2000/svg" width="16vw" height="16vh" fill="currentColor" style="z-index: 1;"
					class="bi bi-table" viewBox="0 0 16 16">
					<path
						d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm15 2h-4v3h4V4zm0 4h-4v3h4V8zm0 4h-4v3h3a1 1 0 0 0 1-1v-2zm-5 3v-3H6v3h4zm-5 0v-3H1v2a1 1 0 0 0 1 1h3zm-4-4h4V8H1v3zm0-4h4V4H1v3zm5-3v3h4V4H6zm4 4H6v3h4V8z" />
				</svg>
				<h1 class="textoCriterio">Criterios</h1>
			</a>
			<div class="carousel-caption d-none d-md-block" style="z-index: -5;">
			  <strong><h5 style="color: black; font-weight: 900; font-size: x-large;">GRUPO BOCAR CONTROL INTERNO</h5></strong>
			  <p style="color: black; font-size: 18px;">Criterios de Riesgo y Control</p>
			</div>
		  </div>
		</div>
		<button class="carousel-control-prev btn btn-dark" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
		  <span class="carousel-control-prev-icon btn btn-dark" aria-hidden="true"></span>
		  <span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next btn btn-dark" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
		  <span class="carousel-control-next-icon btn btn-dark" aria-hidden="true"></span>
		  <span class="visually-hidden">Next</span>
		</button>
	  </div>
	<!--
	<div class="col-4">
		<div class="row iconos">
			<a href="/metodologia" class="nav-link text-black">
				<svg xmlns="http://www.w3.org/2000/svg" width="16vw" height="16vh" fill="currentColor"
					class="bi bi-table" viewBox="0 0 16 16">
					<path
						d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm15 2h-4v3h4V4zm0 4h-4v3h4V8zm0 4h-4v3h3a1 1 0 0 0 1-1v-2zm-5 3v-3H6v3h4zm-5 0v-3H1v2a1 1 0 0 0 1 1h3zm-4-4h4V8H1v3zm0-4h4V4H1v3zm5-3v3h4V4H6zm4 4H6v3h4V8z" />
				</svg>
				<h1 class="textoCriterio">Criterios</h1>
			</a>
		</div>
		<div class="row iconos">
			<a href="/instructivo" class="nav-link text-black" aria-current="page">
				<svg xmlns="http://www.w3.org/2000/svg" width="16vw" height="16vh" fill="currentColor"
					class="bi bi-book" viewBox="0 0 16 16">
					<path
						d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z" />
				</svg>
				<h1 class="textoInstructivo">Instructivo</h1>
			</a>
		</div>
	</div>
	<div class="col-8" style="display: flex; justify-content: center;">
		<img src="../assets/imagenes/Principal.png" alt="Imagen Principal">
	</div>-->
</div>