<div class="row">
	<div class="col">
		<p class="text-center fw-bold">ID del Control</p>
		<div class="form-floating mb-3">
			<input type="text" class="form-control" [(ngModel)]="idControl" value="{{control.idControl}}"
				placeholder="ID del Control">
			<label for="floatingInput">Escriba el ID</label>
		</div>
	</div>

	<div class="col">
		<p class="text-center fw-bold">General/Proceso</p>
		<div class="form-floating mb-3">
			<select class="form-select" [(ngModel)]="general" value="{{control.general}}"
				aria-label="Default select example">
				<option selected>...</option>
				<option value="General">General</option>
				<option value="Proceso">Proceso</option>
			</select>
			<label for="floatingSelect">Seleccione</label>
		</div>
	</div>
	<div class="col">
		<p class="text-center fw-bold">Id del riesgo asociado</p>
		<div class="form-floating mb-3">
			<select class="form-select" [(ngModel)]="idRiesgoAsociado" value="{{control.idRiesgoAsociado}}"
				aria-label="Default select example">
				<ng-container *ngFor="let riesgoItem of RiesgoList;  let i = index; let tamLista = count;">
					<ng-container *ngIf="riesgoItem.idRiesgo !== control.IdRiesgoAsociado">
						<option value="{{riesgoItem.idRiesgo}}">{{riesgoItem.idRiesgo}}</option>
					</ng-container>
				</ng-container>
			</select>
			<label for="floatingSelect">Seleccione</label>
		</div>
	</div>
	<div class="col-4" *ngIf="control.Anadir == 0">
		<p class="text-center fw-bold">&nbsp;</p>
		<button type="button" class="btn btn-success" (click)="desplegarNuevoRiesgo()">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square"
				viewBox="0 0 16 16">
				<path
					d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
				<path
					d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
			</svg>
			Agregar otro riesgo
		</button>
	</div>
	<div class="col-4" *ngIf="control.Anadir != 0">
		<p class="text-center fw-bold">&nbsp;</p>
		<button type="button" class="btn btn-success" (click)="desplegarNuevoRiesgo()">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square"
				viewBox="0 0 16 16">
				<path
					d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
				<path
					d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
			</svg>
			Editar riesgo {{nuevoRiesgo + 2}} asociado
		</button>
	</div>
</div>
<div class="row">
	<div class="col-auto" *ngIf="(nuevoRiesgo > 0) && (nuevoRiesgo  < this.RiesgoList.length);else demasiadosRiesgos">
		<p class="text-center fw-bold">Riesgo 2 asociado</p>
		<div class="form-floating mb-3">
			<select class="form-select" [(ngModel)]="idRiesgoAsociado2" name="impacto"
				value="{{control.idRiesgoAsociado2}}" aria-label="Default select example">
				<ng-container *ngFor="let riesgoItem of RiesgoList;  let i = index; let tamLista = count;">
					<ng-container *ngIf="riesgoItem.idRiesgo !== control.IdRiesgoAsociado2">
						<option value="{{riesgoItem.idRiesgo}}">{{riesgoItem.idRiesgo}}</option>
						<option *ngIf="i == tamLista-1" value="">N/A</option>
					</ng-container>
				</ng-container>
			</select>
			<label for="floatingSelect">Seleccione</label>
		</div>
	</div>
	<div class="col-auto" *ngIf="(nuevoRiesgo > 1) && (nuevoRiesgo  < this.RiesgoList.length);">
		<p class="text-center fw-bold">Riesgo 3 asociado</p>
		<div class="form-floating mb-3">
			<select class="form-select" [(ngModel)]="idRiesgoAsociado3" name="impacto"
				value="{{control.idRiesgoAsociado3}}" aria-label="Default select example">
				<ng-container *ngFor="let riesgoItem of RiesgoList;  let i = index; let tamLista = count;">
					<ng-container *ngIf="riesgoItem.idRiesgo !== control.IdRiesgoAsociado3">
						<option value="{{riesgoItem.idRiesgo}}">{{riesgoItem.idRiesgo}}</option>
						<option *ngIf="i == tamLista-1" value="">N/A</option>
					</ng-container>
				</ng-container>
			</select>
			<label for="floatingSelect">Seleccione</label>
		</div>
	</div>
	<div class="col-auto" *ngIf="(nuevoRiesgo > 2) && (nuevoRiesgo  < this.RiesgoList.length);">
		<p class="text-center fw-bold">Riesgo 4 asociado</p>
		<div class="form-floating mb-3">
			<select class="form-select" [(ngModel)]="idRiesgoAsociado4" name="impacto"
				value="{{control.idRiesgoAsociado4}}" aria-label="Default select example">
				<ng-container *ngFor="let riesgoItem of RiesgoList;  let i = index; let tamLista = count;">
					<ng-container *ngIf="riesgoItem.idRiesgo !== control.IdRiesgoAsociado4">
						<option value="{{riesgoItem.idRiesgo}}">{{riesgoItem.idRiesgo}}</option>
						<option *ngIf="i == tamLista-1" value="">N/A</option>
					</ng-container>
				</ng-container>
			</select>
			<label for="floatingSelect">Seleccione</label>
		</div>
	</div>
	<div class="col-auto" *ngIf="(nuevoRiesgo > 3) && (nuevoRiesgo  < this.RiesgoList.length);">
		<p class="text-center fw-bold">Riesgo 5 asociado</p>
		<div class="form-floating mb-3">
			<select class="form-select" [(ngModel)]="idRiesgoAsociado5" name="impacto"
				value="{{control.idRiesgoAsociado5}}" aria-label="Default select example">
				<ng-container *ngFor="let riesgoItem of RiesgoList;  let i = index; let tamLista = count;">
					<ng-container *ngIf="riesgoItem.idRiesgo !== control.IdRiesgoAsociado5">
						<option value="{{riesgoItem.idRiesgo}}">{{riesgoItem.idRiesgo}}</option>
						<option *ngIf="i == tamLista-1" value="">N/A</option>
					</ng-container>
				</ng-container>
			</select>
			<label for="floatingSelect">Seleccione</label>
		</div>
	</div>
	<div class="col-auto" *ngIf="(nuevoRiesgo > 4) && (nuevoRiesgo  < this.RiesgoList.length);">
		<p class="text-center fw-bold">Riesgo 6 asociado</p>
		<div class="form-floating mb-3">
			<select class="form-select" [(ngModel)]="idRiesgoAsociado6" name="impacto"
				value="{{control.idRiesgoAsociado6}}" aria-label="Default select example">
				<ng-container *ngFor="let riesgoItem of RiesgoList;  let i = index; let tamLista = count;">
					<ng-container *ngIf="riesgoItem.idRiesgo !== control.IdRiesgoAsociado6">
						<option value="{{riesgoItem.idRiesgo}}">{{riesgoItem.idRiesgo}}</option>
						<option *ngIf="i == tamLista-1" value="">N/A</option>
					</ng-container>
				</ng-container>
			</select>
			<label for="floatingSelect">Seleccione</label>
		</div>
	</div>

	<!--
	<div class="col-auto" *ngIf="(nuevoRiesgo > 1) && (nuevoRiesgo  <= this.RiesgoList.length);">
		<p class="text-center fw-bold">Riesgo 3 asociado</p>
		<div class="form-floating mb-3">
			<select class="form-select" [(ngModel)]="idRiesgoAsociado3" name="impacto" value="{{causa.idRiesgoAsociado3}}"
				aria-label="Default select example">
				<ng-container *ngFor="let riesgoItem of RiesgoList;  let i = index; let tamLista = count;">
					<ng-container *ngIf="riesgoItem.idRiesgo !== causa.IdRiesgoAsociado3">
						<option value="{{riesgoItem.idRiesgo}}">{{riesgoItem.idRiesgo}}</option>
						<option *ngIf="i == tamLista-1" value="">N/A</option>
					</ng-container>
				</ng-container>
			</select>
			<label for="floatingSelect">Seleccione</label>
		</div>
	</div>
	<div class="col-auto" *ngIf="(nuevoRiesgo > 2) && (nuevoRiesgo  <= this.RiesgoList.length);">
		<p class="text-center fw-bold">Riesgo 4 asociado</p>
		<div class="form-floating mb-3">
			<select class="form-select" [(ngModel)]="idRiesgoAsociado4" name="impacto" value="{{causa.idRiesgoAsociado4}}"
				aria-label="Default select example">
				<ng-container *ngFor="let riesgoItem of RiesgoList;  let i = index; let tamLista = count;">
					<ng-container *ngIf="riesgoItem.idRiesgo !== causa.IdRiesgoAsociado4">
						<option value="{{riesgoItem.idRiesgo}}">{{riesgoItem.idRiesgo}}</option>
						<option *ngIf="i == tamLista-1" value="">N/A</option>
					</ng-container>
				</ng-container>
			</select>
			<label for="floatingSelect">Seleccione</label>
		</div>
	</div>
	<div class="col-auto" *ngIf="(nuevoRiesgo > 3) && (nuevoRiesgo  <= this.RiesgoList.length);">
		<p class="text-center fw-bold">Riesgo 5 asociado</p>
		<div class="form-floating mb-3">
			<select class="form-select" [(ngModel)]="idRiesgoAsociado5" name="impacto" value="{{causa.idRiesgoAsociado5}}"
				aria-label="Default select example">
				<ng-container *ngFor="let riesgoItem of RiesgoList;  let i = index; let tamLista = count;">
					<ng-container *ngIf="riesgoItem.idRiesgo !== causa.IdRiesgoAsociado5">
						<option value="{{riesgoItem.idRiesgo}}">{{riesgoItem.idRiesgo}}</option>
						<option *ngIf="i == tamLista-1" value="">N/A</option>
					</ng-container>
				</ng-container>
			</select>
			<label for="floatingSelect">Seleccione</label>
		</div>
	</div>
	<div class="col-auto" *ngIf="(nuevoRiesgo > 4) && (nuevoRiesgo  <= this.RiesgoList.length);">
		<p class="text-center fw-bold">Riesgo 6 asociado</p>
		<div class="form-floating mb-3">
			<select class="form-select" [(ngModel)]="idRiesgoAsociado6" name="impacto" value="{{causa.idRiesgoAsociado6}}"
				aria-label="Default select example">
				<ng-container *ngFor="let riesgoItem of RiesgoList;  let i = index; let tamLista = count;">
					<ng-container *ngIf="riesgoItem.idRiesgo !== causa.IdRiesgoAsociado6">
						<option value="{{riesgoItem.idRiesgo}}">{{riesgoItem.idRiesgo}}</option>
						<option *ngIf="i == tamLista-1" value="">N/A</option>
					</ng-container>
				</ng-container>
			</select>
			<label for="floatingSelect">Seleccione</label>
		</div>
	</div>-->
</div>
<!--
<div class="row">
	<div class="col">
		<p class="text-center fw-bold">Descripción de la causa asociada</p>
		<div class="form-floating mb-3">
			<select class="form-select" [(ngModel)]="idRiesgoAsociado" value="{{control.idRiesgoAsociado}}"
				aria-label="Default select example">
				<ng-container *ngFor="let riesgoItem of RiesgoList;  let i = index; let tamLista = count;">
					<ng-container *ngIf="riesgoItem.idRiesgo !== control.IdRiesgoAsociado">
						<option value="{{riesgoItem.idRiesgo}}">{{riesgoItem.idRiesgo}}</option>
					</ng-container>
				</ng-container>
			</select>
			<label for="floatingSelect">Seleccione</label>
		</div>
	</div>
	<div class="col-4" *ngIf="control.Anadir == 0">
		<p class="text-center fw-bold">&nbsp;</p>
		<button type="button" class="btn btn-success" (click)="desplegarNuevoRiesgo()">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square"
				viewBox="0 0 16 16">
				<path
					d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
				<path
					d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
			</svg>
			Agregar otro riesgo
		</button>
	</div>
	<div class="col-4" *ngIf="control.Anadir != 0">
		<p class="text-center fw-bold">&nbsp;</p>
		<button type="button" class="btn btn-success" (click)="desplegarNuevoRiesgo()">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square"
				viewBox="0 0 16 16">
				<path
					d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
				<path
					d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
			</svg>
			Editar riesgo {{nuevoRiesgo + 2}} asociado
		</button>
	</div>
</div>
-->

<div class="row text-center">
	<ng-template #demasiadosRiesgos>
		<div class="col text-center" *ngIf="(nuevoRiesgo > 0)">
			<div class="modal-body">
				<div class="col-12 alert alert-danger  align-items-center" role="alert">
					<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"
						style="float: left;">
						<use xlink:href="#exclamation-triangle-fill" />
					</svg>
					<div>
						No existen más de {{nuevoRiesgo}} riesgos en el sistema para adjuntar<br>
						<a href="/listaRiesgos" style="color: red;">Ir a lista de riesgos</a>
					</div>
				</div>
			</div>
		</div>
	</ng-template>
</div>
<div class="row">
	<div class="mb-3">
		<label for="exampleFormControlTextarea1" class="form-label fw-bold">Descripción del Control</label>
		<textarea class="form-control" [(ngModel)]="descripcion" value="{{control.descripcion}}" rows="2"></textarea>
	</div>
</div>
<div class="row">
	<div class="col">
		<p class="text-center fw-bold">Evidencia del control</p>
		<div class="form-floating mb-3">
			<input type="text" class="form-control" [(ngModel)]="evidencia" value="{{control.evidencia}}"
				placeholder="Evidencia del Control">
			<label for="floatingInput fw-bold">Escriba la evidencia</label>
		</div>
	</div>
</div>
<div class="row">
	<div class="col">
		<br><p class="text-center fw-bold">Segregación de Funciones</p><br>
		<div class="form-floating mb-3">
			<select class="form-select" [(ngModel)]="segregacion" value="{{control.segregacion}}"
				aria-label="Default select example">
				<option selected>...</option>
				<option value="Sí">Sí</option>
				<option value="No">No</option>
			</select>
			<label for="floatingSelect">Seleccione</label>
		</div>
	</div>
	<div class="col">
		<p class="text-center fw-bold">Documentación (Política, manual, procedimiento, etc.)</p>
		<div class="form-floating mb-3">
			<select class="form-select" [(ngModel)]="documentacion" value="{{control.documentacion}}"
				aria-label="Default select example">
				<option selected>...</option>
				<option value="Sí">Sí</option>
				<option value="No">No</option>
			</select>
			<label for="floatingSelect">Seleccione</label>
		</div>
	</div>
	<div class="col">
		<br>
		<p class="text-center fw-bold">Tipo de Control</p><br>
		<div class="form-floating mb-3">
			<select class="form-select" [(ngModel)]="tipoControl" value="{{control.tipoControl}}"
				aria-label="Default select example">
				<option selected>...</option>
				<option value="Preventivo">Preventivo</option>
				<option value="Detectivo">Detectivo</option>
			</select>
			<label for="floatingSelect">Seleccione</label>
		</div>
	</div>
	<div class="col">
		<br>
		<p class="text-center fw-bold">Naturaleza adecuada</p><br>
		<div class="form-floating mb-3">
			<select class="form-select" [(ngModel)]="naturalezaAdecuada" value="{{control.naturalezaAdecuada}}"
				aria-label="Default select example">
				<option selected>...</option>
				<option value="Sí">Sí</option>
				<option value="No">No</option>
			</select>
			<label for="floatingSelect">Seleccione</label>
		</div>
	</div>
</div>
<div class="row">
	<div class="col">
		<p class="text-center fw-bold">Naturaleza de Control</p>
		<div class="form-floating mb-3">
			<select class="form-select" [(ngModel)]="naturalezaControl" value="{{control.naturalezaControl}}"
				aria-label="Default select example">
				<option selected>...</option>
				<option value="Manual">Manual</option>
				<option value="Automático">Automático</option>
				<option value="Semi-automático">Semi-automático</option>
			</select>
			<label for="floatingSelect">Seleccione</label>
		</div>
	</div>
	<div class="col">
		<p class="text-center fw-bold">Tipo Adecuado</p>
		<div class="form-floating mb-3">
			<select class="form-select" [(ngModel)]="tipoAdecuado" value="{{control.tipoAdecuado}}"
				aria-label="Default select example">
				<option selected>...</option>
				<option value="Sí">Sí</option>
				<option value="No">No</option>
			</select>
			<label for="floatingSelect">Seleccione</label>
		</div>
	</div>
	<div class="col">
		<p class="text-center fw-bold">Frecuencia de Control</p>
		<div class="form-floating mb-3">
			<select class="form-select" [(ngModel)]="frecuenciaControl" value="{{control.frecuenciaControl}}"
				aria-label="Default select example">
				<option selected>...</option>
				<option value="Anual">Anual</option>
				<option value="Por Evento">Por evento</option>
			</select>
			<label for="floatingSelect">Seleccione</label>
		</div>
	</div>
	<div class="col">
		<p class="text-center fw-bold">Frecuencia adecuada</p>
		<div class="form-floating mb-3">
			<select class="form-select" [(ngModel)]="frecuenciaAdecuada" value="{{control.frecuenciaAdecuada}}"
				aria-label="Default select example">
				<option selected>...</option>
				<option value="Sí">Sí</option>
				<option value="No">No</option>
			</select>
			<label for="floatingSelect">Seleccione</label>
		</div>
	</div>
</div>
<div class="row">
	<div class="col">
		<p class="text-center fw-bold">Responsable del Control</p>
		<div class="form-floating mb-3">
			<select class="form-select" [(ngModel)]="responsable" value="{{control.responsable}}"
				aria-label="Default select example">
				<option selected>...</option>
				<option value="Área de Finanzas">Área de Finanzas</option>
				<option value="Controlador de Gestión">Controlador de Gestión</option>
				<option value="Controlador de Gestión Divisional">Controlador de Gestión Divisional</option>
				<option value="Controlador de Gestión Divisional/Gerente de contabiliadad y Finanzas">Controlador de
					Gestión Divisional/Gerente de contabiliadad y Finanzas</option>
				<option value="Coordinador de Planeación Financiera">Coordinador de Planeación Financiera</option>
				<option value="Director de Finanzas y Administración Grupo">Director de Finanzas y Administración
					Grupo</option>
				<option value="Gerente de Finanzas y Contabilidad">Gerente de Finanzas y Contabilidad</option>
				<option value="Jefe de planeación Financiera">Jefe de planeación Financiera</option>
			</select>
			<label for="floatingSelect">Seleccione una opción</label>
		</div>
	</div>
	<div class="col">
		<p class="text-center fw-bold">Responsabilidad del Control</p>
		<div class="form-floating mb-3">
			<select class="form-select" [(ngModel)]="responsabilidadControl" value="{{control.responsabilidadControl}}"
				aria-label="Default select example">
				<option selected>...</option>
				<option value="Sí">Sí</option>
				<option value="No">No</option>
			</select>
			<label for="floatingSelect">Seleccione una opción</label>
		</div>
	</div>
	<div class="col">
		<p class="text-center fw-bold">Generación de Evidencia</p>
		<div class="form-floating mb-3">
			<select class="form-select" [(ngModel)]="generacionEvidencia" value="{{control.generacionEvidencia}}"
				aria-label="Default select example">
				<option selected>...</option>
				<option value="Sí">Sí</option>
				<option value="No">No</option>
			</select>
			<label for="floatingSelect">Seleccione una opción</label>
		</div>
	</div>
</div>
<div class="row">
	<div class="col">
		<p class="text-center fw-bold">Control clave</p><br>
		<div class="form-floating mb-3">
			<select class="form-select" [(ngModel)]="controlClave" value="{{control.controlClave}}"
				aria-label="Default select example">
				<option selected>...</option>
				<option value="Sí">Sí</option>
				<option value="No">No</option>
			</select>
			<label for="floatingSelect">Seleccione una opción</label>
		</div>
	</div>
	<div class="col">
		<p class="text-center fw-bold">Control diseñado para mitigar fraude</p>
		<div class="form-floating mb-3">
			<select class="form-select" [(ngModel)]="controlFraude" value="{{control.controlFraude}}"
				aria-label="Default select example">
				<option selected>...</option>
				<option value="Sí">Sí</option>
				<option value="No">No</option>
			</select>
			<label for="floatingSelect">Seleccione una opción</label>
		</div>
	</div>
	<div class="col">
		<p class="text-center fw-bold">Cobertura individual por Control(%)</p>
		<div class="form-floating mmb-3">
			<!--<button type="button" class="cantidad-menos btn btn-danger btn-number" data-type="minus" data-field="">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
					class="bi bi-dash-square" viewBox="0 0 16 16">
					<path
						d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
					<path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z" />
				</svg>
			</button>-->
			<input type="number" maxlength="2" id="cantidad" class="form-control input-number" [(ngModel)]="cobertura"
				value="{{control.cobertura}}" min="1" max="100" pattern="[0-9]{2}">
			<!--<button type="button" class="cantidad-mas btn btn-success btn-number" data-type="plus" data-field="">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
					class="bi bi-plus-square" viewBox="0 0 16 16">
					<path
						d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
					<path
						d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
				</svg>
			</button>-->
		</div>
	</div>
	<div class="col">
		<p class="text-center fw-bold">Evaluacion de Funcionalidad</p>
		<div class="form-floating mb-3">
			<select class="form-select" [(ngModel)]="evaluacionFuncionalidad" value="{{control.evaluacionFuncionalidad}}"
				aria-label="Default select example">
				<option selected>...</option>
				<option value="Efectivo">Efectivo</option>
				<option value="No efectivo">No efectivo</option>
				<option value="No probado">No probado</option>
			</select>
			<label for="floatingSelect">Seleccione una opción</label>
		</div>
	</div>
</div>
<div *ngIf="control.Anadir != 0">
<!--
	<div class="row">
		<div class="col">
			<div class="form-floating mb-3">
				<input type="text" class="form-control" [(ngModel)]="estrategiaMonitoreo"
					placeholder="Estrategia de tratamiento del Riesgo ">
				<label for="floatingInput">Estrategia de tratamiento del Riesgo </label>
			</div>
		</div>
	</div>
-->
	<div class="row">
		<div class="col">
			<p class="fw-bold">Responsable(s) del tratamiento del riesgo</p>
			<div class="form-floating mb-3">
				<input type="text" class="form-control" [(ngModel)]="responsableTratamiento"
					value="{{control.responsableTratamiento}}" placeholder="Escriba el/los responsables">
				<label for="floatingInput">Escriba el/los responsables</label>
			</div>
		</div>
	</div>
	<div class="row">
		<p class="fw-bold">Descripción/Notas sore el tratamiento del riesgo</p>
		<div class="mb-3">
			<textarea class="form-control" [(ngModel)]="descripcionTratamiento"
				value="{{control.descripcionTratamiento}}" placeholder="Escriba la descripcion" rows="2"></textarea>
		</div>
	</div>
	<div class="row">
		<div class="mb-3">
			<p class="fw-bold">Observaciones</p>
			<textarea class="form-control" [(ngModel)]="observaciones" value="{{control.observaciones}}"
				rows="2"></textarea>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="closeClick()">Cerrar</button>
	<button type="submit" class="btn btn-primary" *ngIf="control.Anadir == 0" (click)="anadirControl()"
		data-bs-toggle="modal" data-bs-target="#altaControl">Añadir Control</button>
	<button type="submit" class="btn btn-primary" *ngIf="control.Anadir != 0" (click)="updateControl()"
		data-bs-toggle="modal" data-bs-target="#editarControl">Editar Control</button>
</div>