#formulado:hover{
	background-color: rgb(86, 86, 90);
	color: white;
}

td.columLarga {
	display: list-item;
	width: 22vw;
	overflow: hidden;
	border: none;
	padding-top: 20%;
	padding-bottom: 15%;
  }
  td.columMediana {
	display: list-item;
	width: 17vw;
	overflow: hidden;
	border: none;
  }
.columPequeña{
	width: 9em;
}
  
.rojo-alerta{
	color: yellow;
	background-color: red;
	font-weight: 600;
}
.rojo-alerta:hover{
	font-weight: 800;
}
.verde {
	background-color: rgb(48, 153, 51) !important;
}
.verdeImpacto {
	background-color: rgb(48, 153, 51) !important;
	color: black;
}


.rojo {
	background-color: #dc3545 !important;
}

.anaranjado {
	background-color: rgb(222, 192, 0) !important;
	color: black;
}

.medio {
	background-color: yellow !important;
}

.bajo {
	background-color: rgb(146, 208, 80) !important;
}
.verdeImpacto:hover {
	background-color: rgb(48, 153, 51) !important;
	color: black;
	font-weight: 900
}

.rojo:hover {
	background-color: #dc3545 !important;
	color: black;
	font-weight: 900;
}

.anaranjado:hover {
	background-color: rgb(222, 192, 0) !important;
	color: black;
	font-weight: 900;
}

.medio:hover {
	background-color: yellow !important;
	color: black;
	font-weight: 900;
}

.bajo:hover {
	background-color: rgb(146, 208, 80) !important;
	color: black;
	font-weight: 900;
}
.sinControl{
    background-color: #fff3cd;
    border-color: #ffecb5;
}
.sinControl:hover{
    background-color: #fff3cd;
    border-color: #000000;
	font-weight: 800;
}